<div class="templates templategroup row">
  <div class="large-12 medium-18 small-18 large-centered columns">

    <div class="row heading">
      <a class="back" ui-sref="templates-admin">{{'TEMPLATES' | translate}}</a>
      <h1>{{'CHALLENGE_GOALS' | translate}}</h1>
    </div>

    <p>{{'CHALLENGE_GOALS_DESC' | translate}}</p>

    <default-goals data-challenge-goals="true"></default-goals>

    <div class="row heading">
      <h1>{{'DEFAULT_GOALS' | translate}}</h1>
    </div>

    <p>{{'DEFAULT_GOALS_DESC' | translate}}</p>

    <default-goals></default-goals>

  </div>
</div>
