<div class="templates templategroup row">
  <div class="large-12 medium-18 small-18 large-centered columns">

    <h1>Default Goals</h1>

    <spinner class="spinner" name="freestyleAdminGoals" show="true"></spinner>

    <div class="row goal" data-ng-repeat="goal in vm.goals | orderBy:['Goal.GoalChallengeId', 'Goal.Name'] track by $index">
      <div class="goal-container">

        <ng-form name="goalForm">

          <div class="row goal-name" ng-click="vm.goalClicked(goal)" ng-hide="goal.show">
            <img ng-if="goal.Goal.GoalChallengeId" src="/img/playlists/pack_highlight.svg"> {{goal.Goal.Name}}
            <em ng-if="goal.Goal.GoalChallengeId">{{'CHALLENGE' | translate}}</em>
          </div>

          <div class="row goal-name" ng-click="vm.goalClicked(goal)" ng-show="goal.show">
            <img class="open" ng-if="goal.Goal.GoalChallengeId" src="/img/playlists/pack_highlight.svg">
            <span ng-show="goal.edit">{{goal.Goal.Name}}</span>
            <input type="text" name="name" ng-hide="goal.edit" placeholder="{{'NAME' | translate}}" ng-model="goal.Goal.Name" ng-click="goal.editGoalName = true" ng-blur="goal.editGoalName = false" required />
            <em ng-if="goal.Goal.GoalChallengeId">{{'CHALLENGE' | translate}}</em>

            <div ng-show="goalForm.$submitted || goalForm.name.$touched">
              <small class="error" ng-show="goalForm.name.$error.required">{{'GOAL_NAME_REQ' | translate}}</small>
            </div>
          </div>

          <div class="row" ng-show="goal.show">
            <label>{{'BPM' | translate}}</label>
            <select name="bpm" ng-options="v for v in vm.bpmOptions" ng-model="goal.Goal.BpmLow" required>
            </select>
            -
            <select ng-options="v for v in vm.bpmOptions" ng-model="goal.Goal.BpmHigh">
            </select>
            <div ng-show="goalForm.$submitted || goalForm.bpm.$touched">
              <small class="error" ng-show="goalForm.bpm.$error.required || goal.Goal.BpmLow === 0">{{'BPM_REQ' | translate}}</small>
            </div>
          </div>

          <div class="row goal-meta" ng-show="goal.show" ng-repeat="goaloption in goal.Goal.GoalOptions track by $index">
            <ng-form name="goaloptionForm">
              <div ng-show="goal.Goal.GoalOptions.length > 1" class="row">
                <input type="text" name="goalName" placeholder="{{'GOAL_NAME' | translate}}" ng-model="goaloption.Name" required />
                <div ng-show="goaloptionForm.$submitted || goaloptionForm.goalName.$touched">
                  <small class="error" ng-show="goaloptionForm.goalName.$error.required">{{'INTERVAL_REQ' | translate}}</small>
                </div>
              </div>

              <div class="row">
                <div class="large-9 columns">
                  <label>{{'EFFORT' | translate}}</label>
                  <select name="effort" ng-options="v for v in vm.effortOptions" ng-model="goaloption.Effort" required>
                  </select>
                  -
                  <select ng-options="v for v in vm.effortOptions" ng-model="goaloption.EffortHigh">
                  </select>%

                  <div ng-show="goaloptionForm.$submitted || goaloptionForm.effort.$touched">
                    <small class="error" ng-show="goaloptionForm.effort.$error.required">{{'EFFORT_REQ' | translate}}</small>
                  </div>
                </div>

                <div class="large-9 columns" ng-if="vm.isCustomRpm">
                  <label>{{'RPM' | translate}}</label>
                  <select name="rpm" ng-options="v for v in vm.rpmOptions" ng-model="goaloption.RpmLow">
                  </select>
                  -
                  <select ng-options="v for v in vm.rpmOptions" ng-model="goaloption.RpmHigh">
                  </select>

                  <div ng-show="goaloptionForm.$submitted || goaloptionForm.rpm.$touched">
                    <small class="error" ng-show="goaloptionForm.rpm.$error.required || goaloption.RpmLow === 0">{{'RPM_REQ' | translate}}</small>
                  </div>
                </div>

                How do we tell if this is IsCustomRpm?

                <div class="large-9 columns" ng-if="!vm.isCustomRpm">
                  <label>{{'BEAT_RATIO' | translate}}</label>
                  <select name="beat" class="beat" ng-options="v.Name for v in vm.beats track by v.Id" ng-change="goaloption.BeatId = goaloption.Beat.Id" ng-model="goaloption.Beat" required>
                  </select>

                  <div ng-show="goaloptionForm.$submitted || goaloptionForm.beat.$touched">
                    <small class="error" ng-show="goaloptionForm.beat.$error.required">{{'BEAT_RATIO_REQ' | translate}}</small>
                  </div>
                </div>
              </div>

              <div class="row interval" ng-if="!vm.isCustomRpm">
                <a ng-show="goal.Goal.GoalOptions.length === 1" ng-click="vm.addIntervalGoal(goal)">+ {{'INTERVAL_ADD' | translate}}</a>
                <a ng-show="$index === 1" ng-click="vm.removeIntervalGoal(goal)">- {{'INTERVAL_REMOVE' | translate}}</a>
              </div>

            </ng-form>
          </div>

          <div class="row notes" ng-show="goal.show">
            <label>{{'NOTES_GUIDELINE' | translate}}</label>
            <textarea name="note" maxlength="200" ng-maxlength="200" ng-model="goal.Goal.Aim"></textarea>
            <span class="maxlength">{{'NOTE_MAX' | translate}}</span>
          </div>

          <div class="row submit" ng-show="goal.show">
            <alert ng-if="goal.saved" type="'success'" close="goal.saved = undefined">Goal successfully saved.</alert>
            <input type="submit" value="Save goal" ng-click="vm.update(goal)" ng-disabled="goalForm.$pristine || goal.saving">
          </div>
        </ng-form>

      </div>
    </div>

    <table>
      <thead>
        <tr>
          <td>Goal Name</td>
          <td>BPM Low</td>
          <td>BPM High</td>
          <td>Aim</td>
          <td>Goal Challenge</td>
          <td>Goal Challenge Id</td>
          <td>Interval goal</td>
          <td>Visible to freestyle goals</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="goal in vm.goals">
          <td>{{goal.Goal.Name}}</td>
          <td contentEditable ng-change="vm.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.Goal.BpmLow"></td>
          <td contentEditable ng-change="vm.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.Goal.BpmHigh"></td>
          <td contentEditable ng-change="vm.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.Goal.Aim"></td>
          <td>{{goal.Goal.GoalChallenge}}</td>
          <td>{{goal.Goal.GoalChallengeId}}</td>
          <td>{{goal.Goal.Interval}}</td>
          <td>{{goal.IsFreestyleVisible}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
