<div class="templates templategroup row">
  <div class="large-12 medium-18 small-18 large-centered columns">

    <div class="row heading">
      <a class="back" ui-sref="templates-admin">{{'TEMPLATES' | translate}}</a>
      <h1>Challenge masters</h1>
    </div>

    <p>Editing challenge masters will apply your changes across all templates and existing playlists.</p>

    <default-goals data-challenge-goals="true"></default-goals>

    <div class="row heading">
      <h1>Default Goals</h1>
    </div>

    <p>Editing default goal metrics will not apply your changes to templates or playlists but resets the dropdown list of default goals
    (when creating or editing templates).</p>

    <default-goals></default-goals>

  </div>
</div>
