<div class="view-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="large-12 large-centered columns text-center">
      <h1>Send to your clubs</h1>
      <div class="row box">
        <p>Select which clubs you would like to send your ride class to. This will make sure that all of your music and notes will be available on the tablet in the studio when you arrive.</p>
        <div ng-messages="playlist_sync.error">
          <div class="error" ng-message="required">Please select at least one club</div>
        </div>
        <spinner class="spinner" name="playlistSyncSpinner" show="true"></spinner>
        <label ng-repeat="gym in playlist_sync.gyms | orderBy: 'Name'">
          <input type="checkbox" ng-model="gym.selected">{{gym.Name}}
        </label>
      </div>
      <p>&nbsp;</p>
      <p>
        <button class="secondary" ui-sref="dashboard" style="float:left">Save and continue later</button>
        <button class="round" ng-click="playlist_sync.publishPlaylist()" style="float:right">Save and send to clubs</button>
      </p>
    </div>
  </div>
