<div class="sync-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="large-12 large-centered columns max-content">
      <h1 class="text-center">{{'SEND_CLUBS' | translate}}</h1>
      <div class="row box">
        <p>{{'SELECT_CLUBS_EXPLANATION' | translate}}</p>
        <div ng-messages="playlist_sync.error">
          <div class="error" ng-message="required">{{'SELECT_CLUB_REQ' | translate}}</div>
        </div>
        <spinner class="spinner" name="playlistSyncSpinner" show="true"></spinner>
        <div class="gyms">
          <label ng-class="{'disabled': gym.LimitReached}" ng-repeat="gym in playlist_sync.gyms | orderBy: 'Gym.Name'">
            <input type="checkbox" ng-disabled="gym.LimitReached" ng-model="gym.selected"> {{gym.Gym.Name}} <span ng-if="gym.LimitReached">{{'CLUB_RIDE_LIMIT_REACHED' | translate}}(This club already has {{playlist_sync.playlistLimitPerGym}} rides)</span>
          </label>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>
        <button class="secondary" ui-sref="dashboard" style="float:left">{{'SAVE_CONTINUE_LATER' | translate}}</button>
        <button class="round" ng-click="playlist_sync.publishPlaylist()" style="float:right">{{'SAVE_SEND_CLUBS' | translate}}</button>
      </p>
    </div>
  </div>
