<div class="view-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="large-12 large-centered columns">
      <p>Select which clubs you'd like to send your ride class to</p>
      <p>[insert here: default checklists list of clubs with nothing selected by default]</p>
      <p>[can add more with an "add another"]</p>
      <p><a ui-sref="dashboard">Skip and sync to club later</a></p>
      <p>
        <button>Sync now</button> then take me to my dashboard</p>
    </div>
  </div>
