<h1>Playlists</h1>

<table>
  <thead>
    <tr>
      <td>Playlist Name</td>
      <td>Template Name</td>
      <td>Class length</td>
      <td>Number of songs</td>
      <td>Playlist length</td>
      <td>Id</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="playlist in playlists.playlists | orderBy:'Name'">
      <td><a ui-sref="playlist({id:playlist.Id})">{{playlist.Name}}</a></td>
      <td>{{playlist.TemplateName}}</td>
      <td>{{playlist.ClassLengthMinutes}}</td>
      <td>{{playlist.TrackCount}}</td>
      <td>{{playlist.TotalDurationSeconds | minutes}}</td>
      <td>{{playlist.Id}}</td>
      <td ng-click="playlists.delete(playlist)"><a>x</a></td>
    </tr>
    <!--
    <tr>
    <td colspan="7"><h5>Add new playlist</h5></td>
    </tr>
    <tr>
      <td contentEditable ng-model="playlists.newplaylist.Name"></td>
      <td contentEditable ng-model="playlists.newplaylist.ClassLengthMinutes"></td>
      <td>{{playlists.newplaylist.Id}}</td>
      <td><button ng-click="playlists.create(playlists.newplaylist)" type="button" class="tiny round">Add new playlist</button></td>
    </tr>
    -->
</table>

<button class="round" ui-sref="playlist-new-template">Create new playlist</button>
