<div id="rides" class="large-14 large-centered columns">
  <div class="row heading">
    <a class="back" ui-sref="dashboard">{{'DASHBOARD' | translate}}</a>
    <h1>{{'MY_RIDES_DRAFTS' | translate}}</h1>
  </div>
  <div class="row">
    <rides data-create-new="true" data-rides="100" data-complete="false"></rides>
  </div>
  <div class="row heading">
    <h1>{{'MY_RIDES_COMPLETE' | translate}}</h1>
  </div>
  <div class="row">
    <rides data-rides="100" data-complete="true"></rides>
  </div>
</div>
