.fa-chevron-down:before {
  content: "\f078";
}
.fa-chevron-right:before {
  content: "\f054";
}

.accordion {
  label {
    display: inline;
    font-size: inherit;
  }
  dd {
    > .content.active {
      padding-top: rem-calc(10px);
      background: $grey_lighter;
    }
    margin-top: rem-calc(10px);
  }
}