.heartbeat {
  font-size: rem-calc(14);
  color: $grey;
  font-weight: 200;
  &.box {
    padding: rem-calc(16) rem-calc(12) rem-calc(32) rem-calc(13);
    min-width: rem-calc(1180);
    //display: inline-block;
  }
  .beats {
    //overflow-x: scroll;
    //overflow-y: hidden;
    //white-space:nowrap;
    height: rem-calc(48);
  }
  label {
    padding: 0;
    font-weight: 200;
  }
  hr {
    margin: 0;
    border-color: $grey_medium;
  }
  .joyride-tip-guide {
    margin-left: rem-calc(-31);
    background: $grey_dark;
    width: rem-calc(200);
    p {
      margin-bottom: 0;
    }
  }
  .joyride-content-wrapper {
    padding: rem-calc(10);
  }
}
.pulse {
  display: inline-block;
  width: rem-calc(3);
  height: rem-calc(6);
  margin-right: rem-calc(1);
  background-color: $success-color-font;
  float: left;
}

.no-pulse {
  display: inline-block;
  width: rem-calc(3);
  height: rem-calc(6);
  margin-right: rem-calc(1);
  margin-top: rem-calc(40);
  background-color: $warning-color-font;
  float: left;
}

.device {
  h1 .type {
    font-weight: inherit;
  }
  .type {
    font-style: italic;
    font-weight: normal;
  }
}