.emails {
  table {
    width: 100%;
    &.logs {
      border-spacing: inherit;
    }
  }
}

.emails,
.device {
  .warning {
    color: $warning-color-font;
    background: url('/img/ico16orng_syncerror.svg') no-repeat;
    background-size: rem-calc(16px);
    padding-left: rem-calc(20);
  }
  .success {
    color: $success-color-font;
    background: url('/img/ico16orng_sent.svg') no-repeat;
    background-size: rem-calc(16px);
    padding-left: rem-calc(20);
  }
  .sent {
    color: $success-color-font;
    background: url('/img/ico16orng_sent.svg') no-repeat;
    background-size: rem-calc(16px);
    padding-left: rem-calc(20);
  }
  .delivered, .connected {
    color: $success-color-font;
    background: url('/img/ico16orng_delivered.svg') no-repeat;
    background-size: rem-calc(14px);
    padding-left: rem-calc(20);
  }
}
