#login {
  background-color: $grey_darker;
  color: $white;
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  .container {
    position: relative;
    top: 20vh;
  }
  h1, label {
    color: $white;
  }
  form {
    max-width: rem-calc(600px);
  }
  input[type="text"], input[type="email"], input[type="password"] {
    @include input-black;
  }
  .email {
    text-decoration: underline;
  }
  .dark-block {
    max-width: rem-calc(620px);
  }
}

h1 .welcome {
  font-size: x-large;
}