#login {
  background-color: $grey_darker;
  height: 100vh;
  @media #{$small-only} {
    background-image: url('/img/background_640.jpg');
  }
  @media #{$medium-only} {
    background-image: url('/img/background_1024.jpg');
  }
  @media #{$large-up} {
    background-image: url('/img/background_big.jpg');
  }
  background-position: center top;
  background-repeat: no-repeat;
  .container {
    position: relative;
    top: 20vh;
  }
  h1 {
    color: $white;
  }
  form {
    max-width: rem-calc(600px);
  }
  input {
    background: $black;
    border: none;
    color: $white;
  }
}
