.error, small.error {
  background: $apricot;
  color: $peach;
  padding: rem-calc(20px);
  font-style: normal;
}

small.error {
  padding: rem-calc(10px);
}

span.error {
  font-style: normal;
  color: $red;
  background: $pink;
  padding: 10px;
  font-size: $h5-font-size;
}

span.length.error {
  background: none;
  display: inline;
  padding: 0px;
  margin: 0px;
  .box {
    border: 2px solid $savannah;
  }
}

span.success {
  background: transparent;
}

.front-error {
  display: none;
}

.success, small.success {
  background: $success-color;
  color: $success-color-font;
  padding: rem-calc(10px);
  font-style: normal;
}

p.success, p.warning {
  font-size: $h2-font-size;
  background: transparent;
  padding: 0;
  margin: 0;
}

.success {
  color: $success-color-font;
}

.warning {
  color: $warning-color-font;
}

/* Alert boxes */

.alert-box {
  font-size: $body-font-size;
  .close {
    text-decoration: none;
  }
  a {
    color: $grey_dark;
    text-decoration: underline;
  }
  &.success {
    color: $success-color-font;
  }
  &.warning {
    color: $warning-color-font;
  }
  // For when there's a submit button inside the alert. I know. Complicated.
  &.contains-button {
    padding: rem-calc(16) rem-calc(10) rem-calc(10) rem-calc(10);
    input[type="submit"], button.submit {
      margin-top: rem-calc(-7);
    }
  }
}

table .alert-box {
  padding: 0 0 0 rem-calc(20px);
  background-position: left;
  &.danger {
    color: $cherry;
    background-color: transparent;
    border-color: transparent;
  }
  &.success {
    color: $success-color-font;
    background-color: transparent;
    border-color: transparent;
    em {
      font-weight: bold;
      font-style: inherit;
      display: block;
    }
  }
}