.error, small.error {
  background: $apricot;
  color: $peach;
  padding: rem-calc(20px);
  font-style: normal;
}

small.error {
  padding: rem-calc(10px);
}

span.error {
  font-style: normal;
  color: $red;
  background: $pink;
  padding: 10px;
  font-size: $h5-font-size;
}

span.length.error {
  background: none;
  display: inline;
  padding: 0px;
  margin: 0px;
  .box {
    border: 2px solid $savannah;
  }
}

.front-error {
  display: none;
}

.success, small.success {
  background: $success-color;
  color: $white;
  padding: rem-calc(10px);
  font-style: normal;
}

p.success, p.warning {
  font-size: $h2-font-size;
  background: transparent;
  padding: 0;
}

p.success {
  color: $success-color;
}

p.warning {
  color: $warning-color;

}

/* Alert boxes */

.alert-box {
  .close {
    text-decoration: none;
  }
  a {
    color: $grey_dark;
    text-decoration: underline;
  }
}

table .alert-box {
  &.danger {
    color: $cherry;
    background-color: transparent;
    border-color: transparent;
  }
  &.success {
    color: $success-color;
    background-color: transparent;
    border-color: transparent;
    em {
      font-weight: bold;
      font-style: inherit;
      display: block;
    }
  }
}