.error, small.error {
  background: $apricot;
  color: $peach;
  padding: rem-calc(20px);
  font-style: normal;
}

small.error {
  padding: rem-calc(10px);
}

span.error {
  font-style: normal;
  color: $red;
  background: $pink;
  padding: 10px;
  font-size: $h5-font-size;
}

span.length.error {
  background: none;
  display: inline;
  padding: 0px;
  margin: 0px;
  .box {
    border: 2px solid $savannah;
  }
}

.front-error {
  display: none;
}
