/* Mixins */

@mixin input-black {
  background: $black;
  border: none;
  color: $white;
}

@mixin secondary-button {
  @include button-style($bg: $white, $radius: $button-round);
  padding: rem-calc(7px) rem-calc(15px) rem-calc(7px) rem-calc(15px);
  font-size: $label-font-size;
  border: 2px solid $cherry;
  color: $cherry;
  &:hover,
  &:focus {
    color: $red;
    background-color: $white;
  }
}
