.onboarding {
	background: $grey_darker;
	color: $white;
  min-height: calc(100vh);
  text-align: center;

  .content {
    max-width: rem-calc(600px);
    margin: auto;
  }

  h1, h2, h3 {
  	color: $white;
  }

  em {
  	font-style: normal;
  	font-weight: bold;
  }

  label {
  	color: $white;
  }

  input[type="password"] {
    @include input-black;
  }
}

.dark-block {
  background-color: rgba($black, 0.6);
  padding: rem-calc(10px);
}
