.noscroll {
  overflow: hidden;
}

/***** Create a ride *****/

input[type="text"].class_name {
  border-width: 2px;
  border-color: $grey_light;
  box-shadow: none;
  font-size: $body-font-size;
  border-radius: $radius-tiny;
  color: $grey;
  padding: 10px;
  height: 55px;
}

.goals-container {
  max-width: rem-calc(700px);
  margin: auto;
}

.ride-type {
  border-top: 1px solid $grey_medium;
  font-size: $h5-font-size;
  color: $grey_darker;
  line-height: $chunk_height;
  .icon {
    height: rem-calc(50px);
    width: rem-calc(50px);
    float: left;
    padding-right: rem-calc(10px);
    line-height: rem-calc(50px);
  }
  h2 {
    display: inline;
  }
  .length {
    float: right;
    .box {
      line-height: normal;
      border: 1px solid $grey_medium;
      color: $grey_darker;
      font-weight: bold;
      border-radius: 2px;
      padding: 5px;
    }
  }
}

.ride-type.fixed {
  padding-left: 10px;
  position: fixed;
  top: 0;
  z-index: 99;
  background: $white;
  border-bottom: 2px solid $grey_lighter;
  margin-left: -1px;
}

.goal {
  background-color: $white;
  padding: rem-calc(5px) 0 rem-calc(5px) 0;
  .goal-container {
    border: 1px solid $grey_lighter;
    padding: rem-calc(10px) rem-calc(20px) rem-calc(0px) rem-calc(20px);
    background-color: $grey_light;
    &.active {}
    textarea {
      resize: none;
    }
  }
  .goal-name,
  .goal-meta {
    cursor: pointer;
    @include user-select('none');
    min-height: rem-calc(40px);
  }
  .goal-name a {
    line-height: 2.2;
    font-size: $label-font-size;
  }
  .bpm {
    text-align: right;
  }
  .active {}
}

.goal-name {
  img {
    margin-right: rem-calc(12px);
    vertical-align: bottom;
  }
  em {
    margin-left: rem-calc(6px);
    font-weight: normal;
    color: $pack_purple;
  }
}

#track-name {
  font-weight: bold;
}

.notes {
  textarea {
    margin-bottom: 0px;
  }
  .maxlength {
    float: right;
    font-size: smaller;
    color: $grey_light;
  }
  .error {
    color: $red;
    background: none;
  }
}

.bin {
  display: block;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  min-width: 100%;
  color: $blue;
  background: $blue_light;
  margin-bottom: 20px;
  .empty-text {
    cursor: pointer;
    border: 1px dotted $blue;
    border-radius: $radius-tiny;
  }
}

.track.dropped {
  line-height: 40px;
  vertical-align: middle;
  cursor: default;
  background-color: $grey_black;
}

.dropped {
  .empty-text {
    display: none;
  }
  text-align: left;
  .track-name {
    display: inline;
  }
  .artist {
    color: $white;
    padding-left: 5px;
  }
}

.bin.dropped {
  border: 0px;
}

goal_option {
  display: block;
  background: $grey_lighter;
  color: $grey;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  .beat {
    font-style: italic;
  }
  em {
    font-style: normal;
    font-weight: bold;
    color: $grey_black;
  }
  hr {
    border: solid $grey_medium;
    border-width: 1px 0 0;
  }
  select {
    width: auto;
  }
}
