$template-radius: rem-calc(8px);
.create-playlist {
  text-align: center !important;
  ul {
    margin: auto;
    max-width: rem-calc(900px);
  }
}

.template {
  border: rem-calc(3px) solid $red;
  border-radius: $template-radius;
  padding: rem-calc(25px) rem-calc(10px) rem-calc(25px) rem-calc(10px);
  text-align: center;
  min-height: rem-calc(180px);
  max-width: rem-calc(250px);
  &:hover {
    background-color: rgba($grey_light, 0.5);
    transition: 300ms ease-out;
  }

  &.pack {
    border-color: $purple;
    h2 {
      color: $purple;
    }
  }

  .icon {
    min-height: rem-calc(40px);
  }
  h2 {
    color: $red;
  }
  .description {
    color: $grey;
  }
}

.freestyle {
  border: dotted $grey_medium;
  h2 {
    color: $black;
  }
}
