.view-playlist {
  .playlist-container {
    max-width: rem-calc(1400px);
  }
  .goal-name {
    cursor: default;
    font-weight: bold;
    min-height: inherit;
  }
  .play-container {
    margin-top: rem-calc(-6px);
    margin-bottom: rem-calc(6px);
  }
  .track {
    cursor: auto;
    color: $black;
    background-color: $blue_light;
    border: 1px solid $blue_light;
    margin-bottom: 8px;
    padding: rem-calc(18px) 0 rem-calc(9px) rem-calc(8px);
  }
  .track-name {
    display: inline;
  }
  .bpm {
    float: none;
    color: $black;
    text-align: left;
    line-height: normal;
  }
  .artist {
    color: $black;
  }
}

.uiview div.row .track-progress {
  margin-top: rem-calc(-8);
  padding-left: 0;
  padding-right: 0;
  .progress {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    .meter {
      -webkit-transition: width 0.5s; /* Safari */
      transition: width 0.5s;
    }
  }
  progress {
    width: 100%;
  }
}
