$sidebar-width: 90px;
.inner-wrap {
  width: auto;
}

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: $sidebar-width;
}

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%;
  a {
    padding-top: rem-calc(10px);
    &:hover {
      background-color: $grey_dark;
      border-left: 5px solid $cherry;
      i {
        opacity: 1;
      }
    }
  }
}

.move-right .left-off-canvas-menu {
  width: $sidebar-width;
}

.icon-bar > * {
  padding: 0 0 15px 0;
}

.icon-bar {
  background: $grey_darker;
}

.icon-bar.vertical,
.icon-bar.small-vertical {
  width: $sidebar-width;
}

.ad-block {
  margin-bottom: 2rem;
}

.logo {
  background: url('/img/virginlogo.svg') no-repeat;
  width: 90px;
  height: 90px;
  &.fixed {
    position: fixed;
    left: 0;
  }
}

.item {
  // TODO: refactor all of the following for code reuse
  .dashboard {
    background: url('/img/nav/dashboard.svg') no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 30px;
    opacity: 0.5;
  }
  .create-ride {
    background: url('/img/nav/create.svg') no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 30px;
    opacity: 0.5;
  }
  .my-rides {
    background: url('/img/nav/my-rides.svg') no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 30px;
    opacity: 0.5;
  }
  .user {
    background: url('/img/nav/user.svg') no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 30px;
    opacity: 0.5;
  }
}

/* The top mobile menu */

.top-bar {
  height: rem-calc(60px);
  background: $grey_light;
  .logo {
    background-size: rem-calc(60px);
  }
  .toggle-topbar.menu-icon {
    a {
      height: rem-calc(55px);
      line-height: rem-calc(82px);
      padding: 0 rem-calc(7px) 0 rem-calc(1px);
      color: $cherry;
      text-transform: none;
      font-weight: normal;
      span::after {
        margin-top: rem-calc(-16px);
        box-shadow: 0 0 0 2px $cherry, 0 7px 0 2px $cherry, 0 14px 0 2px $cherry;
      }
    }
  }
}
