$sidebar-width: 90px;
.inner-wrap {
  width: auto;
}

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: $sidebar-width;
}

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%;
}

.move-right .left-off-canvas-menu {
  width: $sidebar-width;
}

.icon-bar > * {
  padding: 0 0 15px 0;
}

.icon-bar {
  background: $grey_dark;
}

.icon-bar.vertical,
.icon-bar.small-vertical {
  width: $sidebar-width;
}

.ad-block {
  margin-bottom: 2rem;
}

.logo {
  background: url('/img/virginlogo.svg') no-repeat;
  width: 90px;
  height: 90px;
}
