// @see https://github.com/treasure-data/angular-treasure-overlay-spinner/blob/master/src/treasure-overlay-spinner.css
// @see https://github.com/treasure-data/angular-treasure-overlay-spinner
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* spinner */
.spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 5px solid rgba($grey,0.7);
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid rgba($grey_medium,0.65);
  border-right: 5px solid rgba($grey,.75);
  border-bottom: 5px solid rgba($grey,.75);
  border-left: 5px solid rgba($grey,.75);
  position: fixed;
  left: 50vw;
  &.overlay {
    top: 15vh;
    z-index:99;
  }
  &.inline {
    position: inherit;
  }
}

button .spinner {
  position: relative;
  left: inherit;
  height: 12px;
  width: 12px;
  border-top: 3px solid rgba($grey_medium,0.65);
  border-right: 3px solid rgba($grey,.75);
  border-bottom: 3px solid rgba($grey,.75);
  border-left: 3px solid rgba($grey,.75);
}

// Loading spinner for track playback
// @see http://tobiasahlin.com/spinkit/

.play-container {
  min-width: 30px;
  min-height: 30px;
}

.spinner1 {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 7px;
  position: inherit;
  margin: auto;
}

.playlist-edit .spinner1, .tracks .spinner1 {
  margin-top: rem-calc(5px);
  &.play {
    border-color: $white;
    .arrow-right {
      border-left-color: $white;
      margin-bottom: 2px;
    }
  }
}

.spinner1 > div {
  height: 100%;
  width: 4px;
  display: inline-block;
}

.spinner1 {
  &.play {
    border-radius: 50%;
    border: 1px solid rgba($grey,0.7);
    .arrow-right {
      width: 0;
      height: 0;
      margin: 7px 0 0 2px;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 10px solid $grey;
    }
    .rect1, .rect2, .rect3, .rect4, .rect5 {
      display: none;
    }
  }
  &.loading {
    padding-top: 10px;
    height: 20px;
    > div {
      background-color: $grey_medium;
      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .arrow-right {
      display: none;
    }
    .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
    .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
  &.playing {
    background-color: $cherry;
    border-radius: 50%;
    > div {
      background-color: $white;
      -webkit-animation: sk-stretchdelay-playback 0.8s infinite ease-in-out;
      animation: sk-stretchdelay-playback 0.8s infinite ease-in-out;
      width: 2px;
      margin-top: 2px;
    }
    .arrow-right {
      height: 6px;
      width: 10px;
      background-color: $cherry;
      border: none;
      animation: none;
      -webkit-animation: none;
      position: absolute;
      left: 10px;
      z-index: 100;
      margin-top: 20px;
    }
    .rect2 {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .rect3 {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
    .rect4 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes sk-stretchdelay-playback {
  0%, 100% {
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
  }  50% {
    transform: scaleY(0.6);
    -webkit-transform: scaleY(0.6);
  }
}