/* Typography */

// @see README.fonts.md to see where the .woff files come from

@font-face {
  font-family: 'HelveticaNeueW01-77BdCn 692722';
  src: url('/fonts/HelveticaNeueW01-77BdCn 692722.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueW01-LtExt';
  src: url('/fonts/HelveticaNeueW01-LtExt.woff') format('woff');
}

@font-face {
  font-family: "HelveticaNeueW01 53 Ext";
  src: url("/fonts/HelveticaNeueW01 53 Ext.woff") format("woff");
}

@font-face {
  font-family: 'HelveticaNeueW01-BdExt';
  src: url('/fonts/HelveticaNeueW01-BdExt.woff') format('woff');
}

.HelveticaNeueW01-77BdCn-692722 {
  p, h1, h2, h3, h4, h5, h6 {
    font-family:'HelveticaNeueW01-77BdCn 692722', 'Helvetica Neue', Helvetica, sans-serif;
  }
}

.HelveticaNeueW01-LtExt {
  p, h1, h2, h3, h4, h5, h6 {
    font-family:'HelveticaNeueW01-LtExt', 'Helvetica Neue', Helvetica, sans-serif;
  }
}

.HelveticaNeueW01-53-Ext {
  p, h1, h2, h3, h4, h5, h6 {
    font-family:'HelveticaNeueW01 53 Ext', 'Helvetica Neue', Helvetica, sans-serif;
  }
}

.HelveticaNeueW01-BdExt  {
  p, h1, h2, h3, h4, h5, h6 {
    font-family:'HelveticaNeueW01-BdExt', 'Helvetica Neue', Helvetica, sans-serif;
  }
}

.styleguide {
  .heading {
    font-size: $label-font-size;
    background-color: $grey_lighter;
    padding: 5px;
    font-weight: bold;
  }
}


/* Colours */

ul.colours {
  margin-left: 0px;
  font-size: $label-font-size;
  li {
    margin-left: 0px;
    margin-right: 20px;
    span {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}

.red {
  color: $red;
}

.red-bg {
  background-color: $red;
}

.rose {
  color: $rose;
}

.rose-bg {
  background-color: $rose;
}

.cherry {
  color: $cherry;
}

.cherry-bg {
  background-color: $cherry;
}

.blue-dark {
  color: $blue_dark;
}

.blue-dark-bg {
  background-color: $blue_dark;
}

.blue {
  color: $blue;
}

.blue-bg {
  background-color: $blue;
}

.blue-light {
  color: $blue_light;
}

.blue-light-bg {
  background-color: $blue_light;
}

.purple {
  color: $purple;
}

.purple-bg {
  background-color: $purple;
}

.pack-purple {
  color: $pack_purple;
}

.pack-purple-bg {
  background-color: $pack_purple;
}

.peach {
  color: $peach;
}

.peach-bg {
  background-color: $peach;
}

.savannah {
  color: $savannah;
}

.savannah-bg {
  background-color: $savannah;
}

.green {
  color: $green;
}

.green-bg {
  background-color: $green;
}

.black {
  color: $black;
}

.black-bg {
  background-color: $black;
}

.grey-darker {
  color: $grey_darker;
}

.grey-darker-bg {
  background-color: $grey_darker;
}

.grey-dark {
  color: $grey_dark;
}

.grey-dark-bg {
  background-color: $grey_dark;
}

.grey {
  color: $grey;
}

.grey-bg {
  background-color: $grey;
}

.grey-medium {
  color: $grey_medium;
}

.grey-medium-bg {
  background-color: $grey_medium;
}

.grey-light {
  color: $grey_light;
}

.grey-light-bg {
  background-color: $grey_light;
}

.grey-lighter {
  color: $grey_lighter;
}

.grey-lighter-bg {
  background-color: $grey_lighter;
}

.white {
  color: $white;
}

.white-bg {
  background-color: $white;
}
