/*! style.css */

$chunk_height: rem-calc(60px);
$goal_padding: rem-calc(10px);
$top_padding: rem-calc(30px);
$radius: rem-calc(15px);
$radius-tiny: 2px;

.uiview div.row, .playlist-edit {
  padding-left: rem-calc(4px);
  padding-right: rem-calc(4px);
}

/* Headings */

h1.site-heading {
  text-align: left;
  margin-left: rem-calc(100px);
}

.heading {
  border-bottom: 1px solid $grey_light;
  color: $grey_light;
  h1 {
    margin-bottom: 0;
  }
  a {
    padding-top: rem-calc(42px);
    display: block;
    float: right;
    &.back {
      padding-top: rem-calc(16px);
      padding-bottom: 0;
      float: inherit;
    }
  }
  button {
    float: right !important;
    &.secondary {
      margin: rem-calc(30px) 0 0;
    }
  }
  &.with-search h1 {
    margin-top: rem-calc(12px);
  }
}

.row .heading {
  margin: 0 0 rem-calc(18px) 0;
}


/* Buttons */

$bg_opacity: 0.09;
button, input[type="submit"] {
  outline: none;
  @include button-style($bg: $cherry, $radius: $button-round);
  padding: rem-calc(7px) rem-calc(20px) rem-calc(7px) rem-calc(20px);
  font-size: $body-font-size;
  border: 2px solid $cherry;
  color: $white;
  &:hover,
  &:focus {
    color: $white;
    background-color: $red;
  }
  &.secondary {
    @include secondary-button;
  }
  &.edit {
    @include button-style($bg: rgba($white, 0), $radius: $button-round);
    background: url('/img/ico16blu_syncedit.svg') no-repeat;
    background-position: left 3px center;
    border: none;
    color: $blue;
    margin: 0;
    &:hover,
    &:focus {
      color: $blue;
      text-decoration: underline;
      background-color: rgba($white, 0);
    }
  }
  &.next {
    padding: rem-calc(7px) rem-calc(15px) rem-calc(7px) rem-calc(15px);
    font-size: $label-font-size;
    border: 2px solid $red;
    color: $red;
    &:hover,
    &:focus {
      color: $red;
      background-color: rgba($red, $bg_opacity);
    }
  }
  &[disabled] {
    color: $grey_lighter;
    background-color: $grey_darker;
    font-weight: lighter;
    border: none;
    opacity: 0.7;
  }
}

/* Forms */

input[type="text"], input[type="password"], input[type="email"] {
  margin: 0;
}
input[type="submit"], button.submit {
  float: right;
}

.row.submit {
  margin-top: rem-calc(16px);
  margin-bottom: rem-calc(16px);
}

input.search, input.search:focus {
  background: transparent url('/img/search_white.svg') no-repeat;
  background-position: right 10px center;
  padding-left: 10px;
}

form a.secondary, .cancel {
  float: left;
  padding-top: rem-calc(6px);
  color: $red;
  &:hover,
  &:focus {
    color: $red;
    font-weight: bold;
    text-decoration: underline;
  }
}

label {
  font-weight: bold;
  padding-bottom: rem-calc(4px);
  padding-top: rem-calc(6px);
  font-size: inherit;
}

label.radio {
  font-weight: inherit;
}

.back {
  &::before {
    content: "\02190";
  }
  padding-bottom: rem-calc(10px);
}

/*
html {
  height: 100%;
}

body {
  min-height: 100%;
}
*/

.show {
  display: inherit !important;
}

.modal-open {
  overflow: hidden;
}

.row.top {
  min-height: 91px;
  padding: $top_padding 0 0 0;
}

.row {
  /*max-width: 97%;*/
  max-width: 100%;
  /*
  To test Compass
  @include background-image(radial-gradient(45px 45px, cyan 10px, dodgerblue 30px));
  */
}


/* A row of a minimum height */

.chunk {
  min-height: $chunk_height;
  line-height: $chunk_height;
  vertical-align: middle;
  h3 {
    line-height: $chunk_height;
  }
}

.box {
  background-color: $grey_lighter;
  padding: rem-calc(30px);
}

select {
  padding-right: rem-calc(20px);
}

.no-bold {
  font-weight: normal;
}

.full-width {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
