/*! style.css */

$chunk_height: rem-calc(60px);
$goal_padding: rem-calc(10px);
$top_padding: rem-calc(30px);
$radius: rem-calc(15px);
$radius-tiny: 2px;

/* Buttons */

$bg_opacity: 0.09;
button {
  @include button-style($bg: $white, $radius: $button-round);
  padding: 10px 30px 10px 30px;
  font-size: $h3-font-size;
  border: 2px solid $red;
  color: $red;
  &:hover,
  &:focus {
    color: $red;
    background-color: rgba($red, $bg_opacity);
  }
  &.secondary {
    @include button-style($bg: $white, $radius: $button-round);
    padding: 10px 20px 10px 20px;
    font-size: $body-font-size;
    border-color: $blue;
    color: $blue;
    &:hover,
    &:focus {
      color: $blue;
      background-color: rgba($blue, $bg_opacity);
    }
  }
  &.cancel {
    border-color: $grey_dark;
    color: $grey_dark;
    &:hover,
    &:focus {
      color: $grey_dark;
      background-color: rgba($grey_dark, $bg_opacity);
    }
  }
  &.next {
    padding: 10px 25px 10px 25px;
    font-size: $label-font-size;
    border: 2px solid $red;
    color: $red;
    &:hover,
    &:focus {
      color: $red;
      background-color: rgba($red, $bg_opacity);
    }
  }
}


/*
html {
  height: 100%;
}

body {
  min-height: 100%;
}
*/

.row.top {
  min-height: 91px;
  padding: $top_padding 0 0 0;
}

.row {
  /*max-width: 97%;*/
  max-width: 100%;
  /*
  To test Compass
  @include background-image(radial-gradient(45px 45px, cyan 10px, dodgerblue 30px));
  */
}


/* A row of a minimum height */

.chunk {
  min-height: $chunk_height;
  line-height: $chunk_height;
  vertical-align: middle;
  h3 {
    line-height: $chunk_height;
  }
}


/***** Create a ride *****/


/* The steps at the top of the create playlist page */

playlist-workflow .row {
  border-bottom: 1px solid $grey_medium;
}

.workflow {
  li span {
    display: block;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: $white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
  .completed {
    span {
      background: $red_medium;
    }
    a {
      color: $red_medium;
    }
  }
  .upcoming {
    span {
      background: $grey_light;
    }
    a {
      color: $grey_medium;
    }
  }
  a {
    padding-top: 3px;
    padding-left: 36px;
  }
}

.error {
  background: $apricot;
  color: $peach;
  padding: rem-calc(20px);
}

input[type="text"].class_name {
  border-width: 0px;
  box-shadow: none;
  border-radius: $radius-tiny;
  background-color: $blue_light;
  font-size: $h3-font-size;
  font-weight: bold;
  color: $black;
  padding: 10px;
  height: 70px;
}

.goals-container {
  background: $white;
}

.ride-type {
  border-top: 1px solid $grey_lighter;
  font-size: $h5-font-size;
  color: $grey_medium;
  line-height: $chunk_height;
  .length {
    float: right;
    .box {
      line-height: normal;
      border: 1px solid $grey_lighter;
      color: $grey_light;
      border-radius: 3px;
      padding: 5px;
    }
  }
}

.ride-type.fixed {
  padding-left: 10px;
  position: fixed;
  top: 0;
  z-index: 99;
  background: $white;
  border-bottom: 2px solid $grey_lighter;
  margin-left: -1px;
}

.goal {
  background-color: $white;
  padding: rem-calc(5px) 0 rem-calc(5px) 0;
  .goal-container {
    border: 1px solid $grey_lighter;
    padding: rem-calc(10px) rem-calc(20px) rem-calc(6px) rem-calc(20px);
  }
  .goal-name,
  .goal-meta {
    cursor: pointer;
    @include user-select('none');
  }
  h4 {
    line-height: rem-calc(35px);
  }
  .bpm {
    color: $grey_light;
    line-height: rem-calc(45px);
    text-align: right;
  }
  .active {
    border: 2px solid $red;
  }
}

#track-name {
  font-weight: bold;
}

.notes {
  textarea {
    margin-bottom: 0px;
  }
  .maxlength {
    float: right;
    font-size: smaller;
    color: $grey_light;
  }
  .error {
    color: $red;
    background: none;
  }
}


/* The right tracks sidebar */

.tracks {
  color: $white;
  background: $grey_dark;
  &.fixed {
    position: fixed;
    top: 0;
    right: -1px;
  }

  .track-search-results {
    overflow: scroll;
    height: 100vh;
  }

  h3 {
    color: $white;
  }
  .showing {
    border-bottom: 1px solid $white;
    padding-bottom: rem-calc(10px);
    margin-bottom: rem-calc(30px);
  }
  .search {
    margin-bottom: rem-calc(30px);
    input {
      border-width: 0px;
      color: $grey_light;
      background: $black url('/img/search_white.svg') no-repeat;
      background-position: right 10px center;
      padding-left: 10px;
    }
    ::-webkit-input-placeholder {
      color: $grey_light;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: $grey_light;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $grey_light;
    }
    :-ms-input-placeholder {
      color: $grey_light;
    }
  }
}

.track {
  padding-top: rem-calc(10px);
  padding-bottom: rem-calc(10px);
  line-height: 18px;
  border-bottom: 2px solid $grey_dark;
  background-color: $grey_black;
  cursor: move;
  color: $white;
  .columns {
    padding-left: rem-calc(10px);
    padding-right: rem-calc(10px);
  }
  .track-name {
    display: block;
    font-weight: bold;
    clear: both;
  }
  .artist {
    color: $white_light;
  }
  .genre {
    font-weight: 100;
    text-align: right;
  }
  .bpm {
    color: $blue_dark;
  }
  .time {
    font-weight: bold;
  }
  .time .position {
    color: $red;
  }
  .add,
  .remove {
    font-size: $h3-font-size;
    font-weight: bold;
  }
  .remove {
    cursor: pointer;
    text-indent: -2000px;
    background: url('/img/remove.svg') no-repeat;
    background-position: center;
  }
}

.play {
  cursor: default;
  text-indent: -2000px;
  min-height: 30px;
  min-width: 30px;
  background: url('/img/play.svg') no-repeat;
  background-position: center;
}

.playing {
  background: url('/img/playing_dark.gif') no-repeat;
  background-position: center;
}

.bin {
  display: block;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  min-width: 100%;
  color: $blue_medium;
  background: $blue_light;
  margin-top: 20px;
  margin-bottom: 20px;
  .empty-text {
    border: 2px dotted $blue_medium;
  }
}

.track.dropped {
  line-height: 40px;
  vertical-align: middle;
  cursor: default;
  background-color: $grey_black;
}

.dropped {
  .empty-text {
    display: none;
  }
  text-align: left;
  .track-name {
    display: inline;
  }
  .artist {
    color: $white;
    padding-left: 5px;
  }
}

.bin.dropped {
  border: 0px;
}

goal_option {
  display: block;
  background: $grey_lighter;
  color: $grey_light;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  em {
    color: $grey_black;
  }
  hr {
    border: solid $grey_medium;
    border-width: 1px 0 0;
  }
}
