/*! style.css */

$chunk_height: rem-calc(100px);
$goal_padding: rem-calc(30px);
$top_padding: rem-calc(40px);
$radius: rem-calc(15px);

.header {
  margin-top: rem-calc(10px);
}

.row.top {
  padding: $top_padding 0 $top_padding 0;
}

.row {
  /*max-width: 97%;*/
  max-width: 100%;
  /*
  To test Compass
  @include background-image(radial-gradient(45px 45px, cyan 10px, dodgerblue 30px));
  */
}

/* A row of a minimum height */
.chunk {
  min-height: $chunk_height;
  line-height: $chunk_height;
  vertical-align: middle;

  h3 {
    line-height: $chunk_height;
  }
}

/***** Create a ride *****/

/* The steps at the top of the create playlist page */
.workflow {
  li span {
    display: block;
    float: left;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    color: $white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }

  .completed {
    span {
      background: $red_medium;
    }
    a {
      color: $red_medium;
    }
  }

  .upcoming {
    span {
      background: $grey_light;
    }
    a {
      color: $grey_medium;
    }
  }

  a {
    padding-top: 3px;
    padding-left: 36px;
  }
}

input[type="text"].class_name {
  border-width: 0px;
  box-shadow: none;
  border-radius: $radius;
  background-color: $blue_light;
  font-size: $h3-font-size;
  font-weight: bold;
  color: $black;
  padding: 10px;
  height: 70px;
}

.playlist-container {
  background-color: $grey_black;
}

.goal {
  background-color: $white;
  padding: $goal_padding 0 $goal_padding 0;
  border-bottom: 4px dotted $grey_light;

  .goal-name {
    font-weight: bold;
    font-size: $h3-font-size;
  }
}

#track-name {
  font-weight: bold;
}

.ride-type {
  background-color: $grey_light;

  h3 {
    font-weight: bold;
    color: $grey_medium;
  }
}

/* The right tracks sidebar */

.tracks {
  color: $white;

  h3 {
    color: $white;
  }

  .showing {
    border-bottom: 1px solid $white;
    padding-bottom: rem-calc(10px);
    margin-bottom: rem-calc(30px);
  }

  .search {
    margin-bottom: rem-calc(30px);

    input {
      border-width: 0px;
      background-color: $grey_dark;
      color: $white;
    }
    ::-webkit-input-placeholder {
      color: $white;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: $white;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $white;
    }
    :-ms-input-placeholder {
      color: $white;
    }
  }
}

.track {
  padding-top: rem-calc(10px);
  padding-bottom: rem-calc(10px);
  line-height: 18px;
  border-bottom: 2px solid $grey_dark;
  background-color: $grey_black;
  cursor: move;
  color: $white;

  .columns {
    padding-left: rem-calc(10px);
    padding-right: rem-calc(10px);
  }

  .play {
    cursor: default;
  }

  .track-name {
    display: block;
    font-weight: bold;
    clear: both;
  }
  .artist {
    color: $white_light;
  }
  .genre {
    font-weight: 100;
    text-align: right;
  }
  .bpm {
    color: $blue_dark;
  }
  .time {
    font-weight: bold;
  }
  .add {
    font-size: $h3-font-size;
    font-weight: bold;
  }
}

.bin {
  display: block;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  min-width: 100%;
  border: 2px dotted $blue_medium;
  color: $blue_medium;
  background: $blue_light;
  margin-top: 20px;
  margin-bottom: 20px;
}

.track.dropped {
  line-height: 40px;
  vertical-align: middle;
  cursor: default;
  background-color: $grey_dark;
}

.dropped {
  .empty-text {
    display: none;
  }
  text-align: left;

  .track-name {
    float: left;
  }

  .artist {
    color: $white;
    padding-left: 5px;
  }
}

.bin.dropped {
  border: 0px;
}

/* TODO: remove me - for initial structure building only  */

.tracks {
  min-height: 100%;
}