.tabs {
  border-bottom: 1px solid $grey_light;
  dd {
    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}

.tabs dd.secondary > a {
  @include secondary-button;
  margin: rem-calc(8px) 0 rem-calc(8px) rem-calc(32px);
}
