.templates {
  select {
    min-width: rem-calc(50px);
    width: auto;
    &.beat {
      min-width: rem-calc(120px);
    }
  }

  .goal-meta {
    background-color: $grey_medium;
    padding: rem-calc(6px);
    margin-bottom: rem-calc(10px);
  }

}