.profile-header {
  text-align: center !important;
  h1 {
    background: url('/img/nav/user.svg') no-repeat;
    background-position: center;
    padding-top: rem-calc(85px);
    background-size: 35px;
  }
}

.profile .box {
  margin: rem-calc(10px);
  padding: rem-calc(20px);
  min-height: rem-calc(150px);
}