<ul>
  <li><a ui-sref="beats-admin">Beats</a></li>
  <li><a ui-sref="countries-admin">Countries</a></li>
  <li><a ui-sref="devices-admin">Devices</a></li>
  <li><a ui-sref="genres-admin">Genres</a></li>
  <li><a ui-sref="goals-admin">Goals</a></li>
  <li><a ui-sref="gyms-admin">Gyms</a></li>
  <li><a ui-sref="locations-admin">Locations</a></li>
  <li><a ui-sref="music-providers-admin">Music Providers</a></li>
  <li><a ui-sref="templates-admin">Templates</a></li>
  <li><a ui-sref="tracks-admin">Tracks</a></li>
  <li><a ui-sref="users-admin">Users</a></li>
  <li><a ui-sref="usertypes-admin">User types</a></li>
</ul>
