<div class="row device">
  <spinner class="spinner" name="device" show="true"></spinner>
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">

    <div class="row heading">
      <a class="back" ui-sref="devices-admin">{{'DEVICES' | translate}}</a>
      <div class="columns small-10 medium-12">
        <h1>{{vm.synclog.Device.Name}}
          <span class="type" ng-if="vm.synclog.Device.Primary">{{'PRIMARY' | translate}}</span>
          <span class="type" ng-if="!vm.synclog.Device.Primary">{{'SECONDARY' | translate}}</span>
        </h1>
      </div>
      <div class="columns small-8 medium-6 text-center">
        <button class="secondary" ui-sref="device-new">{{'DEVICE_DISABLE' | translate}}</button>
      </div>
    </div>

    <div class="box heartbeat">
      <spinner class="spinner" name="heartbeatlog" show="true"></spinner>
      <h3>{{'DEVICE_CONNECTIVITY' | translate}}</h3>
      <div class="beats">
        <div ng-repeat="beat in vm.heartbeat track by $index">
          <div ng-class="{'pulse': beat.beat, 'no-pulse': !beat.beat}" popover-title="{{beat.date | date : 'MMMM' | translate}} {{beat.date | date : 'dd, yyyy HH:mm'}}" data-popover="{{vm.popoverContents(beat) | translate}}" popover-trigger="mouseenter"></div>
        </div>
      </div>
    </div>

    <div class="row heading">
      <div class="columns small-10 medium-12">
        <h3>{{'SYNC_LOG' | translate}}</h3>
      </div>
      <div class="columns small-8 medium-6 text-center">
        <a class="h3" ui-sref="device-error-log({id:vm.id})">{{'DEVICE_ERROR_LOG' | translate}}</a>
      </div>
    </div>

    <spinner class="spinner" name="synclog" show="true"></spinner>

    <table>
      <tr ng-repeat="log in vm.synclog.DeviceSyncPlaylistSyncs">
        <td><span ng-if="log.timeAgo">{{log.timeAgo | date : 'yyyy/MM/dd hh:mm'}}</span></td>
        <td>
          <span ng-if="log.syncSuccess">{{'SYNC_COMPLETE' | translate}}</span>
          <span class="warning" ng-if="log.syncFailure">{{'SYNC_FAILED' | translate}}</span>
          <span ng-if="log.playlistSyncError">
            <div class="warning">{{'PLAYLIST_SYNC_ERROR' | translate}}</div>
            <div ng-repeat="error in log.DevicePlaylistSyncs">
              {{error.Playlist.User.FirstName}} {{error.Playlist.User.LastName}}<br>
              {{error.Playlist.Name}}<br>

              <span ng-if="error.DownloadErrorTracks.length > 0"><br>
                <em>{{'DOWNLOAD_ERRORS' | translate}}</em>
                <div ng-repeat="downloadError in error.DownloadErrorTracks">
                  {{downloadError.Name}} - {{downloadError.Artist}}. {{downloadError.Album}}
                </div>
              </span>

              <span ng-if="error.GetLinkErrorTracks.length > 0"><br>
                <em>{{'LINK_ERRORS' | translate}}</em>
                <div ng-repeat="linkError in error.GetLinkErrorTracks">
                  {{linkError.Name}} - {{linkError.Artist}}. {{linkError.Album}}
                </div>
              </span>
            </div><br>
          </span>
        </td>
        <td><span ng-if="log.timeAgo">{{log.timeAgo | timeago}}</span></td>
      </tr>
    </table>

  </div>
</div>

