<div class="row">
  <div class="large-12 medium-18 small-18 large-centered columns">

    <h1>{{'CREATE_USER' | translate}}</h1>

    <form name="form" ng-submit="vm.createUser()" novalidate>
      <div class="row">
        <div class="large-6 columns">
          <label for="firstname">{{'FIRST_NAME' | translate}}</label>
          <input type="text" name="firstname" ng-model="vm.newUser.FirstName" required />
          <div ng-show="form.$submitted || form.firstname.$touched">
            <small class="error" ng-show="form.firstname.$error.required">{{'FIRST_NAME_REQ' | translate}}</small>
          </div>
        </div>
        <div class="large-6 columns">
          <label for="lastname">{{'LAST_NAME' | translate}}</label>
          <input type="text" name="lastname" ng-model="vm.newUser.LastName" required />
          <div ng-show="form.$submitted || form.lastname.$touched">
            <small class="error" ng-show="form.lastname.$error.required">{{'LAST_NAME_REQ' | translate}}</small>
          </div>
        </div>
        <div class="large-6 columns">
          <label for="id">{{'EMPLOYEE_ID' | translate}}</label>
          <input type="text" name="id" ng-model="vm.newUser.EmployeeId">
        </div>
      </div>

      <div class="row">
        <div class="large-9 columns">
          <label for="email">{{'EMAIL' | translate}}</label>
          <input type="email" name="email" ng-model="vm.newUser.Email" required>
          <div ng-show="form.$submitted || form.email.$touched">
            <small class="error" ng-show="form.email.$error.required">{{'EMAIL_REQ' | translate}}</small>
            <small class="error" ng-show="form.email.$error.email">{{'EMAIL_VALID' | translate}}</small>
          </div>
        </div>
        <div class="large-9 columns">
          <label for="phone">{{'PHONE' | translate}}</label>
          <input type="text" name="phone" ng-model="vm.newUser.Telephone">
        </div>
      </div>

      <div class="row">
        <label>{{'CITY' | translate}}</label>
        <cities ng-change="vm.hasLocation()" ng-model="vm.newUser.LocationId"></cities>
        <div ng-messages="vm.error">
          <small class="error" ng-message="locationError">Please enter a city or select a club</small>
        </div>

      </div>

      <div class="row">
        <div class="large-9 columns">
          <label>{{'GYMS' | translate}}</label>
          <label ng-repeat="gym in vm.gyms | orderBy: 'Name'">
            <input ng-change="vm.hasLocation()" type="checkbox" ng-model="gym.selected"> {{gym.Name}}
          </label>
        </div>
        <div class="large-9 columns">
          <div class="row" ng-if-permission="editAdmin">
            <label for="usertypes">{{'PERMISSIONS' | translate}}</label>

            <label ng-repeat="userType in vm.userTypes | orderBy: 'Name'" ng-if="userType.PublicRole">
              <input type="checkbox" name="usertypes" ng-model="userType.selected"> {{userType.Name}}
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <input type="checkbox" name="invite" ng-model="vm.newUser.sendInviteEmail"> <label for="invite">{{'EMAIL_INVITE' | translate}}</label>
      </div>

      <div class="row">
        <a class="cancel" ui-sref="users-admin">{{'CANCEL' | translate}}</a>
        <input class="right" type="submit" value="{{'CREATE_USER' | translate}}">
      </div>

    </form>

{{vm.newUser}}

  </div>
</div>
