<h1>User Types</h1>

<table>
  <thead>
    <tr>
      <td>User Type</td>
      <td>Id</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="usertype in usertypes.usertypes | orderBy:'Name'">
      <td>{{usertype.Name}}</td>
      <td>{{usertype.Id}}</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3">
        <h5>Add new user type</h5></td>
    </tr>
    <tr>
      <td contentEditable ng-model="usertypes.newUserType.Name"></td>
      <td contentEditable ng-model="usertypes.newUserType.Id"></td>
      <td><button ng-click="usertypes.create()" type="button" class="tiny round">Add new user type</button></td>
    </tr>
  </tbody>
</table>