<div class="create-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="large-2 columns">
      &nbsp;
    </div>
    <div class="large-14 columns">
      <h3>Choose a ride template</h3>

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li ng-repeat="templateGroup in playlist_template.templateGroups | orderBy:'Name'">
          <a class="choose-template" ui-sref="playlist-new-time({id:templateGroup.Id})">
            <div class="template">
              <div class="icon"><img src="/img/templates/{{templateGroup.IconFileName}}"></div>
              <h4 ng-bind-html="templateGroup.Name"></h4>
              <div class="description">{{templateGroup.Description}}</div>
            </div>
          </a>
        </li>
        <li>
          <div class="template own">
            <div class="icon"><img src="/img/templates/own.svg"></div>
            <h4>Create your own template</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="large-2 columns">
      &nbsp;
    </div>
  </div>
</div>
