<div class="create-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="medium-18 large-14 small-centered large-centered columns">
      <h1>{{'CHOOSE_TEMPLATE' | translate}}</h1>

     <spinner class="spinner" name="playlistTemplateSpinner" show="true"></spinner>

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        <li ng-if="templateGroup.Enabled" ng-repeat="templateGroup in playlist_template.templateGroups | orderBy:'Type':'Name'">
          <a class="choose-template" ui-sref="playlist-new-time({id:templateGroup.Id})">
            <div class="template {{templateGroup.Type}}">
              <div class="icon"><img src="/img/templates/{{templateGroup.IconFileName}}"></div>
              <h2 ng-bind-html="templateGroup.Name"></h2>
              <div class="description">{{templateGroup.Description}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
