<div class="row">
  <spinner ng-if="vm.action === 'edit'" class="spinner" name="gym" show="true"></spinner>
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns" ng-hide="!vm.gym">

    <div class="row heading">
      <a ui-sref="gyms-admin" class="back">{{'GYMS_ALL' | translate}}</a>
      <h1 ng-if="vm.action === 'add' || vm.action === 'added'">{{'GYM_ADD' | translate}}</h1>
      <h1 ng-if="vm.action === 'edit'">{{vm.snapshot.Name}}</h1>
    </div>

    <alert ng-show="vm.alert" type="vm.alert.type">{{vm.alert.msg | translate}}</alert>

    <form name="form" ng-submit="form.$valid && vm.location.City && vm.formSubmit()" ng-hide="vm.action === 'added'">

      <label>
        <span ng-if="vm.action === 'edit'">{{'GYM_NAME' | translate}}</span>
        <span ng-if="vm.action === 'add'">{{'GYM_NAME_ADD' | translate}}</span>
      </label>
      <span ng-if="vm.action === 'add'">{{'GYM_NAME_DESC' | translate}}</span>
      <input name="name" type="text" maxlength="60" ng-model="vm.gym.Name" required>
      <div ng-show="form.$submitted || form.name.$touched">
        <small class="error" ng-show="form.name.$error.required">{{'GYM_NAME_REQ' | translate}}</small>
        <small class="error" ng-show="vm.gymNameExists">{{'GYM_NAME_EXISTS' | translate}}</small>
      </div>

      <label>{{'CITY' | translate}}</label>
      <cities ng-if="vm.gym" ng-model="vm.location"></cities>
      <div ng-show="form.$submitted">
        <small class="error" ng-show="!vm.location.City">{{'CITY_REQ' | translate}}</small>
        <small class="error" ng-show="vm.cityError">{{'CITY_ADD_ERROR' | translate}}</small>
      </div>

      <div class="row submit">
        <a class="cancel" ui-sref="gyms-admin">{{'CANCEL' | translate}}</a>
        <input type="submit" ng-disabled="form.$pristine || vm.saving || form.$invalid" value="{{'SAVE' | translate}}">
      </div>

    </form>

    <div class="row" ng-hide="vm.action !== 'added'">
      <div class="row">
        <div class="small-2 medium-2 large-1 columns">
          <img src="/img/ico40grn_syncsuccess.svg">
        </div>
        <div class="small-16 medium-16 large-17 columns">
          <p class="success">{{vm.gym.Name}} {{'SUCCESS_ADDED' | translate}}</p>
        </div>
      </div>

      <div class="row submit">
        <a class="cancel" ui-sref="gyms-admin">{{'GYMS_BACK' | translate}}</a>
        <button class="submit secondary" ui-sref="device-new">Provision a device for this club</button>
      </div>
    </div>

  </div>
</div>
