<div class="row tracks-modal reveal-modal" modal-window="">
  <div class="small-18 large-16 large-centered columns tracks">
    <a class="joyride-close-tip" ng-click="vm.cancel()">&#215;</a>
    <div class="row track-search-header">
      <h1>{{'CHOOSE_TRACK' | translate}} <span id="track-name">'{{vm.currentgoal.Name}}'</span></h1>
      <div class="row showing">
        <div class="small-18 large-13 columns" ng-show="!vm.currentgoal.BackgroundSection">
          {{'SHOWING' | translate}}: <span class="bpm-range">{{vm.currentgoal.BpmLow}} - {{vm.currentgoal.BpmHigh}} {{'BPM' | translate}}</span>
          <span class="bpm-range" ng-if="vm.bpm2">{{vm.bpmLow2}} - {{vm.bpmHigh2}} {{'BPM' | translate}}</span>
        </div>
        <div class="large-5 columns">
          <div class="search">
            <form ng-submit="vm.trackSearch()">
              <input ng-model="vm.search" name="tracks" type="text" placeholder="{{'SEARCH' | translate}}">
            </form>
          </div>
          <div class="genres hide-for-large-up" ng-if-responsive="tablet-down">
            <h3 ng-click="app.genreMenu = !app.genreMenu">{{'GENRE_FILTER' | translate}}</h3>
            <div class="off-canvas-wrap genre-menu" data-offcanvas ng-class="{'move-right' : app.genreMenu}">
              <aside class="left-off-canvas-menu">
                <div class="genre-container">
                  <div class="back" ng-click="app.genreMenu = !app.genreMenu"> {{'BACK' | translate}}</div>
                  <h3>{{'GENRE_FILTER' | translate}}</h3>
                  <genres ng-model="vm.genres" ng-change="vm.genreSearch()"></genres>
                </div>
                <div class="full-width" ng-show="app.genreMenu" ng-click="app.genreMenu = !app.genreMenu"></div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-13 columns track-search-results">
          <spinner class="spinner" name="trackSpinner" show="true"></spinner>
          <div ng-messages="vm.error">
            <div class="error" ng-message="server">{{'SEARCH_ERROR' | translate}}</div>
          </div>
          <div class="row track" id="track{{track.MusicProviderTrackId}}" data-ng-repeat="track in vm.tracks" ng-class="vm.outOfBpmRange(track.Bpm) ? 'out-of-bpm-range' : 'in-bpm-range'">
            <div class="play-container small-1 columns">
              <button class="play" ng-class="{'playing': track.playing}" ng-click="vm.playTrack(track);" ng-hide="track.loading">{{'PLAY' | translate}}</button>
                <div class="spinner1" ng-if="track.loading">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
            </div>
            <div ng-class="{'selectable' : !vm.outOfBpmRange(track.Bpm)}" ng-click="vm.addTrack(track)">
              <div class="small-9 columns">
                <span class="track-name">{{track.Name | limitTo : 80}}</span>
                <span ng-if="track.Name.length > 80">&hellip;</span>
                <span class="artist">{{track.Artist}}</span>
              </div>
              <div class="small-3 columns show-for-medium-up genre">
                &nbsp;{{track.Genre.Name}}
              </div>
              <div class="small-2 columns bpm">
                {{track.Bpm}} {{'BPM' | translate}}
              </div>
              <div class="small-2 columns text-right time">
                <span class="position" ng-show="track.currentTime >= 0 && track.Track.playing === true">{{track.currentTime | minutes}}</span> {{track.DurationSeconds | minutes}}
              </div>
              <div class="small-1 columns">
                <button class="add" ng-disabled="{{vm.outOfBpmRange(track.Bpm)}}">+</button>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="vm.search.length > 0" class="large-5 columns show-for-large-up genres" ng-if-responsive="desktop">
          <h3>{{'GENRE_FILTER' | translate}}</h3>

          <genres ng-model="vm.genres" ng-change="vm.genreSearch()"></genres>
        </div>
      </div>
    </div>
  </div>
</div>
