<spinner ng-if="random" class="spinner" name="spinner{{random}}" show="true"></spinner>
<ul ng-show="playlists" class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
  <li ng-if="createNew" class="new">
    <a ui-sref="playlist-new-template">
      <span class="clearfix"><img class="right" src="/img/playlists_grey/new.svg"></span>
      <div class="content">
        <h5>{{'CREATE_RIDE' | translate}}</h5>
      </div>
    </a>
  </li>
  <li ng-repeat="playlist in playlists">
    <ride></ride>
  </li>
</ul>
