<div class="row" ng-show="vm.step === 0">
  <div class="large-12 medium-18 small-18 large-centered columns">
    <h1>Batch user invite</h1>

    <spinner class="spinner" name="instructors" show="false"></spinner>

    <form ng-submit="vm.instructorsSelected()">
      <div class="row">
        <div class="large-6">
          <input ng-model="query" type="text" placeholder="Filter by" autofocus>
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <td><label><input type="checkbox" ng-change="vm.selectAll(vm.instructors, vm.selectInstructors)" ng-model="vm.selectInstructors"> Select all</label></td>
            <td>Instructor name</td>
            <td>Email</td>
            <td><label><input type="checkbox" ng-change="vm.selectAllPackInstructors()" ng-model="vm.selectPackInstructors"> Select all</label></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instructor in vm.instructors | filter:query | orderBy:'FirstName'">
            <td><label class="no-bold"><input type="checkbox" ng-model="instructor.selected"> Invite</label></td>
            <td>{{instructor.FirstName}} {{instructor.LastName}}</td>
            <td>{{instructor.Email}}</td>
            <td><label class="no-bold"><input type="checkbox" ng-model="instructor.packInstructor"> Pack instructor</label></td>
          </tr>
        </tbody>
      </table>

      <input ng-disabled="!vm.instructors" type="submit" value="Next">
    </form>

  </div>
</div>

<div class="row" ng-show="vm.step === 1">
  <div class="large-12 medium-18 small-18 large-centered columns">
    <h1>Choose clubs</h1>

    <spinner class="spinner" name="instructorsGyms" show="true"></spinner>

    <form ng-submit="vm.gymsSelected()">
      <div class="row">
        <div class="large-6">
          <input ng-model="queryGyms" type="text" placeholder="Filter by" autofocus>
        </div>
      </div>

      <label>
        <input type="checkbox" ng-change="vm.selectAll(vm.gyms, vm.selectGyms)" ng-model="vm.selectGyms"> Select all</label>

      <label class="no-bold" ng-repeat="gym in vm.gyms | filter:queryGyms | orderBy:'Name'">
        <input type="checkbox" ng-model="gym.selected"> {{gym.Name}}
      </label>

      <a ng-click="vm.step = 0">{{'BACK' | translate}}</a>
      <input ng-disabled="!vm.gyms" type="submit" value="Next">
    </form>
  </div>
</div>

<div class="row user-invite" ng-show="vm.step === 2">
  <div class="large-12 medium-18 small-18 large-centered columns">
    <h1>Invited instructors</h1>

    <table>
      <thead>
        <tr>
          <td>Result</td>
          <td>Instructor</td>
          <td>Email</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="instructor.selected" ng-repeat="instructor in vm.instructors">
          <td>
            <span class="{{instructor.statusClass}}"><span class="icon"></span> {{instructor.status}}</span>
          </td>
          <td>{{instructor.FirstName}} {{instructor.LastName}}</td>
          <td>{{instructor.Email}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
