<div class="row">

  <spinner class="spinner" name="users" show="true"></spinner>

  <div class="large-12 medium-18 small-18 large-centered columns">

    <div class="heading with-search row">
      <a class="back" ui-sref="dashboard">{{'DASHBOARD' | translate}}</a>
      <div class="large-9 columns">
        <h1 ng-if="vm.type == 'registered'">{{'INSTRUCTORS_REGISTERED' | translate}}</h1>
        <h1 ng-if="vm.type == 'unregistered'">{{'INSTRUCTORS_UNREGISTERED' | translate}}</h1>
        <h1 ng-if="vm.type == 'active'">{{'INSTRUCTORS_ACTIVE' | translate}}</h1>
        <h1 ng-if="vm.type == 'inactive'">{{'INSTRUCTORS_INACTIVE' | translate}}</h1>
      </div>
      <div class="large-9 columns">
        <label>{{'SEARCH' | translate}}</label>
        <input ng-model="vm.query" type="text" placeholder="{{'INSTRUCTOR_SEARCH' | translate}}" maxlength="60" autofocus>
      </div>
    </div>

    <user-simple ng-repeat="user in vm.users | filter:vm.userFilter | orderBy:'FirstName'"></user-simple>
  </div>
</div>
