<h1>Users</h1>

<table>
  <thead>
    <tr>
      <td>First name</td>
      <td>Last name</td>
      <td>Email</td>
      <td>Phone number</td>
      <td>Country</td>
      <td>User type</td>
      <td>Id</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users.users | orderBy:'Name'">
      <td contentEditable ng-change="users.update(user)" ng-model-options="{updateOn : 'change blur'}" ng-model="user.FirstName"></td>
      <td contentEditable ng-change="users.update(user)" ng-model-options="{updateOn : 'change blur'}" ng-model="user.LastName"></td>
      <td contentEditable ng-change="users.update(user)" ng-model-options="{updateOn : 'change blur'}" ng-model="user.Email"></td>
      <td contentEditable ng-change="users.update(user)" ng-model-options="{updateOn : 'change blur'}" ng-model="user.Telephone"></td>
      <td contentEditable ng-change="users.update(user)" ng-model-options="{updateOn : 'change blur'}" ng-model="user.Country.Name"></td>
      <td>{{user.UserType.Name}}</td>
      <td>{{user.Id}}</td>
    </tr>
  </tbody>
</table>