<div class="templategroup row">
  <div class="large-12 medium-17 small-18 large-centered columns">

    <spinner class="spinner" name="loadTemplateGroupSpinner" show="true"></spinner>

    <div class="heading row">
      <div class="large-13 columns">
        <h1>
          <img class="icon" src="/img/playlists/{{vm.templategroup.IconFileName}}">
          {{vm.templategroup.Name}}
          <button class="edit" ng-hide="vm.edit" ng-click="vm.editClick()">Edit</button>
        </h1>
      </div>
      <div class="large-5 columns">
        <spinner class="spinner" name="archiveTemplateGroupSpinner" show="false"></spinner>
        <a ng-show="vm.templategroup.Enabled" ng-click="vm.archiveTemplateGroup()">Archive this template type</a>
        <a ng-show="!vm.templategroup.Enabled" ng-click="vm.unArchiveTemplateGroup()">Unarchive this template type</a>
      </div>
    </div>

    <alert ng-repeat="message in vm.messages" type="message.type" close="vm.messages.splice($index, 1)">{{message.msg}}</alert>

    <div class="row" ng-show="vm.edit">
      <form name="form" novalidate>
        <label>Template name</label>
        <input type="text" name="name" size="60" maxlength="60" ng-model="vm.templategroup.Name" required />
        <div ng-show="form.$submitted || form.name.$touched">
          <small class="error" ng-show="form.name.$error.required">Please give this template a name.</small>
        </div>

        <label>Description</label>
        <input type="text" name="description" size="120" maxlength="120" ng-model="vm.templategroup.Description" required />
        <div ng-show="form.$submitted || form.description.$touched">
          <small class="error" ng-show="form.description.$error.required">Please give this template a description.</small>
        </div>

        <label>Icon</label>
        <select name="icon" ng-options="v for v in vm.iconFileNames" ng-model="vm.templategroup.IconFileName" required></select>
        <div ng-show="form.$submitted || form.icon.$touched">
          <small class="error" ng-show="form.icon.$error.required">Please choose an icon.</small>
        </div>

        <label>Type</label>
        <select name="type" ng-options="v for v in vm.types" ng-model="vm.templategroup.Type" required></select>

        <div class="row">
          <button class="cancel" style="float:left" ng-click="vm.editCancelled()">Cancel</button>
          <input type="submit" style="float:right" ng-click="vm.saveTemplateGroup()" value="Save">
          <spinner class="spinner" name="saveTemplateSpinner" show="false"></spinner>
          </input>
        </div>
      </form>
    </div>

    <alert ng-repeat="alert in vm.alerts" type="alert.type" close="vm.alerts.splice($index, 1)">{{alert.msg}}</alert>

    <div class="row" ng-hide="vm.edit">
      {{vm.templategroup.Description}}
    </div>

    <div class="row">
      <p>&nbsp;</p>
      <a ng-if="vm.templategroup.Type !== 'freestyle'" ng-show="!vm.addClassLength && !vm.addedClassLength && !vm.edit" ng-click="vm.addClassLength = true">+ Add class length</a>

      <template-lengths ng-show="vm.addClassLength" data-action="Choose class length" ng-change="vm.createNewTemplate()" ng-model="vm.mins"></template-lengths>

      <tabset>
        <spinner class="spinner inline" name="loadClassLengthsSpinner" show="true"></spinner>
        <tab ng-repeat="template in vm.templategroup.ClassLengths | orderBy: 'ClassLengthMinutes'" heading="{{template.ClassLengthMinutes}}" active="template.active">
          <template-length data-id="{{template.TemplateId}}" data-createnew="{{template.CreateNew}}" data-mins="{{template.ClassLengthMinutes}}"></template-length>
        </tab>
      </tabset>
    </div>
  </div>
</div>
