<div class="templates row">
  <div class="large-9 large-centered columns">

    <spinner class="spinner" name="loadTemplateGroupSpinner" show="true"></spinner>

    <span ng-show="vm.templategroup.Name">

      <div class="field">
        <strong>Template name</strong> <a>Edit</a>
        <div contenteditable ng-model="vm.templategroup.Name"></div>
      </div>

      <div class="field">
        <strong>Description</strong>
        <div contenteditable ng-model="vm.templategroup.Description"></div>
      </div>

      <div class="field">
        <strong>Icon</strong>
        <select ng-options="v for v in vm.iconFileNames" ng-model="vm.templategroup.IconFileName"></select>
      </div>

      <div class="field">
        <strong>Class lengths</strong>
        <spinner class="spinner inline" name="loadClassLengthsSpinner" show="true"></spinner>
        <span class="classlength" ng-repeat="template in vm.templategroup.ClassLengths | orderBy: 'ClassLengthMinutes'">
          <a ui-sref="template({id:template.TemplateId})">{{template.ClassLengthMinutes}} minute</a>
        </span>

        <template-lengths data-action="Add class length" ng-change="vm.createNewTemplate()" ng-model="vm.mins"></template-lengths>
      </div>

      <div class="field">
        <spinner class="spinner" name="archiveTemplateGroupSpinner" show="false"></spinner>
        <a ng-show="vm.templategroup.Enabled" ng-click="vm.archiveTemplateGroup()">Archive this template type</a>
        <a ng-show="!vm.templategroup.Enabled" ng-click="vm.unArchiveTemplateGroup()">Unarchive this template type</a>
      </div>

      <p>&nbsp;</p>

      <button class="cancel" style="float:left" ui-sref="templates-admin">Cancel</button>
      <button class="round" style="float:right" ng-click="vm.saveTemplate()">
        <spinner class="spinner" name="saveTemplateSpinner" show="false"></spinner>
        Save
      </button>
    </span>
  </div>
</div>
