<div class="row view-playlist">
  <playlist-workflow ng-if="playlist_view.newPlaylist"></playlist-workflow>
  <spinner class="spinner overlay" name="playlistViewSpinner" show="true"></spinner>
  <div style="display:none;" class="large-16 large-centered columns playlist-container" ng-class="{'show':playlist_view.playlist.Id}">
    <h1>{{playlist_view.playlist.Name}}</h1>
    <div class="row">
      <em>{{playlist_view.playlist.TemplateName}}</em> | {{playlist_view.playlist.TrackCount}} {{'TRACKS' | translate}} | {{playlist_view.playlist.TotalDurationSeconds | minutes}} {{'MINUTES_SMALL' | translate}}
      <button class="edit" ui-sref="playlist-edit({id:playlist_view.playlist.Id})" ng-if="playlist_view.showEdit()">{{'EDIT' | translate}}</button>
    </div>

    <div class="row goal" data-ng-repeat="playlistGoal in playlist_view.playlist.PlaylistGoals | orderBy:'SortOrder'">
      <div class="row" id="playlist{{playlistGoal.Id}}{{track.id}}" data-ng-repeat="track in playlistGoal.PlaylistGoalTracks">
        <div class="row track">
          <div class="small-8 columns">
            <div class="row">
              <div class="large-8 columns goal-name">
                {{playlistGoal.Goal.Name}}
              </div>
              <div class="large-7 columns bpm">
                {{track.Track.Bpm}} {{'BPM' | translate}}
              </div>
            </div>
          </div>
          <div class="small-10 columns">
            <div class="row">
              <div class="large-6 columns track-name">
                {{track.Track.Name}}
              </div>
              <div class="large-6 columns artist">
                {{track.Track.Artist}}
              </div>
              <div class="small-3 columns time text-right">
                <span class="position" ng-show="track.Track.currentTime >= 0 && track.Track.playing === true">{{track.Track.currentTime | minutes}}</span> {{track.Track.DurationSeconds | minutes}}
              </div>
              <div class="small-2 columns play-container" id="track{{track.Track.MusicProviderTrackId}}" ng-click="playlist_view.playTrack(track.Track, playlistGoal.SortOrder);">
                <div class="spinner1" ng-class="{'play': !track.Track.playing && !track.Track.loading, 'loading': track.Track.loading, 'playing': track.Track.playing}">
                  <div class="arrow-right"></div>
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row track-progress" ng-show="track.Track.playing || track.Track.paused">
          <track-progress data-progress="{{track.Track.progress}}" data-duration="{{track.Track.DurationSeconds}}"></track-progress>
        </div>
      </div>
    </div>

    <div class="row submit">
      <a class="cancel" ui-sref="dashboard">{{'RETURN_DASHBOARD' | translate}}</a>
      <button class="submit" ng-if="playlist_view.newPlaylist && playlist_view.user.Id === playlist_view.playlist.Id" ui-sref="playlist-new-sync({id:playlist_view.playlist.Id})">{{'SEND_CLUB' | translate}}</button>
    </div>

  </div>
</div>
