<div class="row emails">
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">
    <div class="row heading">
      <h1>{{'EMAILS' | translate}}</h1>
    </div>

    <!--{{'INVITE_FAILED_REASON' | translate}}-->

    <h2>Problematic emails ({{vm.fails.length}})</h2>

    <div class="row">
      <table class="logs">
        <thead>
          <tr>
            <td>Date / time</td>
            <td>User</td>
            <td>Email type</td>
            <td>Email status</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in vm.fails">
            <td>{{entry.date | date : 'dd'}} {{entry.date | date : 'MMMM' | uppercase | translate}} {{entry.date | date : 'yyyy'}} {{entry.date | date : 'HH'}}:{{entry.date | date : 'mm'}}</td>
            <td>
              <em><a ui-sref="users({id:entry.User.Id})">{{entry.User.FirstName}} {{entry.User.LastName}}</a></em><br>
              <span ng-hide="entry.editing">{{entry.To}}<br></span>
              <ng-form name="emailForm" ng-show="entry.editing" ng-submit="vm.saveEmailAndResend(entry)" novalidate>
                <input name="email" type="email" ng-model="entry.To" size="40" required autofocus>
                <div>
                  <small class="error" ng-show="emailForm.email.$error.required">{{'EMAIL_REQ' | translate}}</small>
                  <small class="error" ng-show="emailForm.email.$error.email">{{'EMAIL_VALID' | translate}}</small>
                  <small class="error" ng-show="entry.emailerror">{{'EMAIL_EXISTS' | translate}}</small>
                </div>
              </ng-form>
              {{'USER_STATUS' | translate}}: {{entry.User.State | translate}}
            </td>
            <td>{{entry.Communication.Name | translate}}</td>
            <td>
              <span ng-if="!entry.Alert" class="warning">{{entry.reason | translate}}</span>
              <alert ng-if="entry.Alert" type="entry.Alert.type"><em>{{entry.Alert.title | translate}}</em>{{entry.Alert.msg | translate}}</alert>
            <td>
              <button class="secondary" ng-if="entry.actionButton === 'edit'" ng-click="vm.editEmail(entry)">
                {{'EMAIL_EDIT' | translate}}
              </button>

              <button ng-disabled="entry.sending || emailForm.$invalid || emailForm.$pristine" ng-if="entry.actionButton === 'editing'" ng-click="vm.saveEmail(entry)">
                Save change and resend invite
              </button>

              <button class="secondary" ng-disabled="entry.sending" ng-if="entry.actionButton === 'resend'" ng-click="vm.sendInvite(entry)">
                {{'EMAIL_RESEND' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    <h2>Successful emails</h2>

    <table>
        <thead>
          <tr>
            <td>Date / time</td>
            <td>User</td>
            <td>Email type</td>
            <td>Email status</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in vm.logs">
            <td>{{entry.date | date : 'dd'}} {{entry.date | date : 'MMMM' | uppercase | translate}} {{entry.date | date : 'yyyy HH:mm'}}</td>
            <td>
              <em><a ui-sref="users({id:entry.User.Id})">{{entry.User.FirstName}} {{entry.User.LastName}}</a></em><br>
              {{entry.To}}<br>
              {{'USER_STATUS' | translate}}: {{entry.User.State | translate}}
            </td>
            <td>{{entry.Communication.Name | translate}}</td>
            <td>
              {{entry.reason | translate}}
            </td>
            <td>
              <button class="secondary" ng-disabled="entry.sending" ng-if="entry.Communication.Name === 'Invite'" ng-click="vm.sendInvite(entry)">
                {{'EMAIL_RESEND' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
