<div class="row emails">
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">
    <div class="row heading">
      <h1>{{'EMAILS' | translate}}</h1>
    </div>

    <h2>{{'EMAILS_PROBLEMS' | translate}} ({{vm.fails.length}})</h2>

    <div class="row">
      <div ng-show="vm.fails.length === 0 && vm.failsLoaded">
        <p>{{'EMAILS_NO_PROBLEMS' | translate}}</p>
      </div>
      <table class="logs" ng-show="vm.fails.length > 0">
        <thead>
          <tr>
            <td>{{'DATE_TIME' | translate}}</td>
            <td>{{'USER' | translate}}</td>
            <td>{{'EMAIL_TYPE' | translate}}</td>
            <td>{{'EMAIL_STATUS' | translate}}</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in vm.fails">
            <td>{{entry.date | date : 'dd'}} {{entry.date | date : 'MMMM' | uppercase | translate}} {{entry.date | date : 'yyyy HH:mm'}}</td>
            <td>
              <em><a ui-sref="users({id:entry.User.Id})">{{entry.User.FirstName}} {{entry.User.LastName}}</a></em><br>
              <span ng-hide="entry.editing">{{entry.To}}<br></span>
              <ng-form name="emailForm" ng-show="entry.editing" novalidate>
                <input name="email" type="email" ng-model="entry.To" size="40" required autofocus>
                <div>
                  <small class="error" ng-show="emailForm.email.$error.required">{{'EMAIL_REQ' | translate}}</small>
                  <small class="error" ng-show="emailForm.email.$error.email">{{'EMAIL_VALID' | translate}}</small>
                  <small class="error" ng-show="entry.emailerror">{{'EMAIL_EXISTS' | translate}}</small>
                </div>
              </ng-form>
              {{'USER_STATUS' | translate}}: {{entry.User.State | translate}}
            </td>
            <td>{{entry.Communication.Name | translate}}</td>
            <td>
              <span ng-if="!entry.Alert" class="warning">{{entry.reason | translate}}</span>
              <alert ng-if="entry.Alert" type="entry.Alert.type"><em>{{entry.Alert.title | translate}}</em>{{entry.Alert.msg | translate}}</alert>
            </td>
            <td>
              <button class="secondary" ng-if="entry.actionButton === 'edit'" ng-click="vm.editEmail(entry)">
                {{'EMAIL_EDIT' | translate}}
              </button>

              <button ng-disabled="entry.sending || emailForm.$invalid || emailForm.$pristine" ng-if="entry.actionButton === 'editing'" ng-click="vm.saveEmail(entry)">
                {{'EMAIL_SAVE_RESEND' | translate}}
              </button>

              <button class="secondary" ng-disabled="entry.sending" ng-if="entry.actionButton === 'resend'" ng-click="vm.sendInvite(entry)">
                {{'EMAIL_RESEND' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <h2>
      <div class="large-9 columns">
        {{'EMAILS_SUCCESS' | translate}}
      </div>
      <div class="large-9 columns">
        <input class="search" ng-model="vm.query" type="text" placeholder="{{'EMAIL_ENTRY_SEARCH' | translate}}" size="60" maxlength="60">
      </div>
      </h2>&nbsp;
    </div>

    <table class="logs">
        <thead>
          <tr>
            <td>{{'DATE_TIME' | translate}}</td>
            <td>{{'USER' | translate}}</td>
            <td>{{'EMAIL_TYPE' | translate}}</td>
            <td>{{'EMAIL_STATUS' | translate}}</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in vm.logs | filter:vm.entryFilter">
            <td>{{entry.date | date : 'dd'}} {{entry.date | date : 'MMMM' | uppercase | translate}} {{entry.date | date : 'yyyy HH:mm'}}</td>
            <td>
              <em><a ui-sref="users({id:entry.User.Id})">{{entry.User.FirstName}} {{entry.User.LastName}}</a></em><br>
              {{entry.To}}<br>
              {{'USER_STATUS' | translate}}: {{entry.User.State | translate}}
            </td>
            <td>{{entry.Communication.Name | translate}}</td>
            <td>
              <span ng-if="!entry.Alert" class="{{entry.class}}">{{entry.reason | translate}}</span>
              <alert ng-if="entry.Alert" type="entry.Alert.type"><em>{{entry.Alert.title | translate}}</em>{{entry.Alert.msg | translate}}</alert>
            </td>
            <td>
              <button class="secondary" ng-disabled="entry.sending" ng-if="entry.actionButton === 'resend'" ng-click="vm.sendInvite(entry)">
                {{'EMAIL_RESEND' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
