<div class="row">
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">
    <div class="row heading">
      <h1>{{'EMAILS' | translate}}</h1>
    </div>

    <!--{{'INVITE_FAILED_REASON' | translate}}-->

    <div class="row">
      <table style="overflow: scroll;">
        <thead>
          <tr>
            <td>To</td>
            <td>Type</td>
            <td>CreateDate</td>
            <td>User</td>
            <td>Last logged in</td>
            <td>Clicked</td>
            <td>Delivered</td>
            <td>Opened</td>
            <td>Processed</td>
            <td>SpamReport</td>
            <td>Bounce</td>
            <td>Bounce Reason</td>
            <td>Dropped</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="12"><h3>Failures</h3></td>
          <tr>
          <tr ng-repeat="entry in vm.fails">
            <td>{{entry.To}}</td>
            <td>{{entry.Communication.Name}}</td>
            <td>{{entry.CreateDate}}</td>
            <td><a ui-sref="users({id:entry.User.Id})">{{entry.User.FirstName}} {{entry.User.LastName}}</a></td>
            <td>{{entry.User.LastLoggedInDate}}</td>
            <td>{{entry.Clicked}} ({{entry.DateClicked}})</td>
            <td>{{entry.Delivered}} ({{entry.DateDelivered}})</td>
            <td>{{entry.Open}} ({{entry.DateOpen}})</td>
            <td>{{entry.Processed}} ({{entry.DateProcessed}})</td>
            <td>{{entry.SpamReport}} ({{entry.DateSpamReport}})</td>
            <td>{{entry.Bounce}} ({{entry.DateBounce}})</td>
            <td>{{entry.BounceReason}}</td>
            <td>{{entry.Dropped}} {{entry.DateDropped}}</td>
          </tr>
          <tr>
            <td colspan="12"><h3>Full log</h3></td>
          <tr>
          <tr ng-repeat="entry in vm.logs">
            <td>{{entry.To}}</td>
            <td>{{entry.Communication.Name}}</td>
            <td>{{entry.CreateDate}}</td>
            <td><a ui-sref="users({id:entry.User.Id})">{{entry.User.FirstName}} {{entry.User.LastName}}</a></td>
            <td>{{entry.User.LastLoggedInDate}}</td>
            <td>{{entry.Clicked}} ({{entry.DateClicked}})</td>
            <td>{{entry.Delivered}} ({{entry.DateDelivered}})</td>
            <td>{{entry.Open}} ({{entry.DateOpen}})</td>
            <td>{{entry.Processed}} ({{entry.DateProcessed}})</td>
            <td>{{entry.SpamReport}} ({{entry.DateSpamReport}})</td>
            <td>{{entry.Bounce}} ({{entry.DateBounce}})</td>
            <td>{{entry.BounceReason}}</td>
            <td>{{entry.Dropped}} {{entry.DateDropped}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
