<div class="create-playlist">
  <div class="row top">
    <div class="large-1 columns">
      &nbsp;
    </div>
    <div class="large-5 columns">
      <a>&lt; {{'BACK' | translate}}</a>
    </div>
    <div class="large-12 columns">
      <ol class="inline-list workflow">
        <li class="completed"><span>1</span><a>{{'RIDE_TEMPLATE' | translate}}</a></li>
        <li class="completed"><span>2</span><a>{{'PLAYLIST_CREATE' | translate}}</a></li>
        <li class="upcoming"><span>3</span><a>{{'PLAYLIST_REVIEW' | translate}}</a></li>
        <li class="upcoming"><span>4</span><a>{{'PLAYLIST_PUBLISH' | translate}}</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <div class="large-2 columns">
        &nbsp;
      </div>
      <div class="large-14 columns">
        <input name="class_name" class="class_name" type="text" placeholder="{{'CLASS_GIVE_NAME' | translate}}...">
      </div>
      <div class="large-2 columns">
        &nbsp;
      </div>
    </div>
    <div class="large-9 columns">
      &nbsp;
    </div>
  </div>

  <div class="row playlist-container">
    <div class="small-9 columns goals-container">
      <div class="row goal-name">
        <div class="small-18 columns ride-type">
          <div class="row chunk">
            <div class="small-2 columns">
              &nbsp;
            </div>
            <div class="small-14 columns">
              <h3>{{playlist.name}}</h3>
            </div>
            <div class="small-2 columns">
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div class="row goal" ng-repeat="goal in playlist.goals">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="small-15 columns goal-container" ng-class="{'active': playlist.isGoalActive(goal)}">
          <div class="row goal-name" ng-click="playlist.goalClicked(goal)">
            <div class="small-14 columns">
              <h4>{{goal.goal}}</h4>
            </div>
            <div class="small-4 columns bpm">
              {{goal.bpm_low}} - {{goal.bpm_high}} {{'BPM' | translate}}
            </div>
          </div>
          <div class="row">
            <div class="bin" id="bin{{goal.id}}" ng-show="goal.show" droppable>
              <div class="empty-text">{{'DRAG_DROP_TRACK' | translate}}</div>
              <div class="row track dropped" id="playlist{{goal.id}}{{track.id}}" data-ng-repeat="track in playlist.playlist[goal.id]">
                <div class="small-1 columns play">
                  <a href="#" ng-click="playTrack(track.id)">{{'PLAY' | translate}}</a>
                </div>
                <div class="small-14 columns">
                  <span class="track-name">{{track.name}}</span> <span class="artist">{{track.artist}}</span> | <span class="bpm">{{track.bpm}} {{'BPM' | translate}}</span>
                </div>
                <div class="small-2 columns time">
                  {{track.time}}
                </div>
                <div class="small-1 columns add">
                  <a ng-click="playlist.removeTrack(goal.id, track)">-</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row goal-meta" ng-click="goal.show = !goal.show" ng-show="goal.show">
            <div class="small-14 columns">
              {{'LEG_SPEED' | translate}}: {{goal.rpm_low}} - {{goal.rpm_high}} {{'RPM' | translate}}
            </div>
            <div class="small-4 columns bpm">
              <a>+ {{'ADD_NOTES' | translate}}</a>
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>

    </div>
    <div class="small-9 columns tracks">
      <div class="row chunk">
        &nbsp;
      </div>

      <div class="row">
        <div class="small-1 columns">
          &nbsp;
        </div>
        <div class="small-16 columns">
          <h3>{{'CHOOSE_TRACK' | translate}} <span id="track-name">'Warm Up'</span></h3>

          <div class="row showing">
            <div class="small-14 columns">
              {{'SHOWING' | translate}}: 80 - 90 {{'BPM' | translate}} {{'TRACKS' | translate}}
            </div>
            <div class="small-4 columns">
              {{'ADD_FILTER' | translate}}
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="small-14 columns search">
          <input name="tracks" type="text" placeholder="{{'SEARCH' | translate}}">
        </div>
        <div class="small-2 columns">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="small-1 columns">
          &nbsp;
        </div>
        <div class="small-16 columns">
          <div class="row track" draggable id="track{{track.id}}" data-ng-repeat="track in playlist.tracks">
            <div class="small-1 columns play">
              <a href="#" ng-click="playTrack(track.id)">{{'PLAY' | translate}}</a>
            </div>
            <div class="small-9 columns">
              <span class="track-name">{{track.name}}</span>
              <span class="artist">{{track.artist}}</span>
            </div>
            <div class="small-3 columns genre">
              {{track.genre}}
            </div>
            <div class="small-2 columns bpm">
              {{track.bpm}} {{'BPM' | translate}}
            </div>
            <div class="small-2 columns time">
              {{track.time}}
            </div>
            <div class="small-1 columns add">
              <a ng-click="playlist.addTrack(track)">+</a>
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>