<div class="profile row">
  <spinner class="spinner overlay" name="userProfileSpinner" show="true"></spinner>
  <div class="large-14 medium-18 small-18 large-centered columns" ng-show="user.user">
    <div class="profile-header">
      <h1>{{user.user.FirstName}} {{user.user.LastName}}</h1>
      <p>{{user.user.Location.City}}, {{user.user.Location.Country.Code}}
        <span ng-if="user.user.LastClassDate"><br>
          <em>{{'LAST_CLASS' | translate}}: {{user.user.LastClassDate | date : 'dd'}} {{user.user.LastClassDate | date : 'MMMM' | uppercase | translate}} {{user.user.LastClassDate | date : 'yyyy'}}</em>
        </span>
      </p>
    </div>
    <div class="row" ng-show="user.messages || user.error">
      <div class="small-18 medium-12 large-9 large-centered medium-centered columns">
        <div ng-messages="user.error">
          <p class="error" ng-message="error">{{user.error.message}}</p>
        </div>
        <alert ng-repeat="message in user.messages" type="message.type" close="user.messages.splice($index, 1)">{{message.msg | translate}}</alert>
      </div>
    </div>
    <div class="row">
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.contactEdit" class="edit right" ng-click="user.contactEdit = true">{{'EDIT' | translate}}</button>
          <h3>{{'CONTACT_DETAILS' | translate}}</h3>
          <div ng-show="!user.contactEdit">
            <div ng-if-permission="viewAdmin"><label>{{'EMPLOYEE_ID' | translate}}</label> {{user.user.EmployeeId}}</div>
            {{user.user.Telephone}}<br>
            <a href="mailto:{{user.user.Email}}">{{user.user.Email}}</a>
          </div>

          <form name="contactForm" ng-show="user.contactEdit" ng-submit="user.saveContactDetails()">
            <label ng-if-permission="editAdmin">{{'EMPLOYEE_ID' | translate}}</label>
            <input type="text" ng-if-permission="editAdmin" ng-model="user.employeeId" placeholder="{{'EMPLOYEE_ID' | translate}}" maxlength="60" />
            <label>{{'PHONE' | translate}}</label>
            <input type="text" ng-model="user.telephone" placeholder="{{'PHONE' | translate}}" maxlength="60" />
            <label>{{'EMAIL' | translate}}</label>
            <input type="email" name="email" ng-model="user.email" placeholder="{{'EMAIL' | translate}}" required />
            <div ng-show="contactForm.$submitted || contactForm.email.$touched">
              <small class="error" ng-show="contactForm.email.$error.required">{{'EMAIL_REQ' | translate}}</small>
            </div>
            <div ng-messages="user.error">
              <p class="error" ng-message="email">{{user.error.message}}</p>
            </div>
            <div class="row submit">
              <a class="cancel" ng-click="user.cancelContactDetails()">{{'CANCEL' | translate}}</a>
              <input type="submit" value="{{'SAVE' | translate}}" ng-disabled="user.userContactSaving">
            </div>
            &nbsp;
          </form>

        </div>
      </div>
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.userTypesEdit" ng-if-permission="users" class="edit right" ng-click="user.loadUserTypes()">{{'EDIT' | translate}}</button>
          <h3>{{'PERMISSIONS' | translate}}</h3>
          <div ng-show="!user.userTypesEdit">
            <ul>
              <li ng-repeat="role in user.user.UserUserTypes">
                {{role.UserType.Name | translate}}
              </li>
            </ul>
          </div>

          <form ng-show="user.userTypesEdit" ng-if-permission="users" ng-submit="user.saveUserTypes()">
            <label ng-hide="userType.hide" ng-repeat="userType in user.userTypes | orderBy: 'Name'">
              <input type="checkbox" name="usertypes" ng-model="userType.selected"> {{userType.Name | translate}}
            </label>

            <div class="row submit">
              <a class="cancel" ng-click="user.userTypesEdit = !user.userTypesEdit">{{'CANCEL' | translate}}</a>
              <spinner class="spinner inline" name="userTypesSpinner" show="false"></spinner>
              <input type="submit" value="{{'SAVE' | translate}}" ng-disabled="user.userTypesSaving">
            </div>
            &nbsp;
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.gymEdit" class="edit right" ng-click="user.loadGyms()">{{'EDIT' | translate}}</button>
          <h3>{{'RESIDENT_CLUBS' | translate}}</h3>
          <!--TODO: convert the following into a directive, and conditionally include it-->
          <div ng-show="!user.gymEdit">
            <ul>
              <li ng-repeat="gym in user.user.UserGyms | orderBy: 'Gym.Name'">
                {{gym.Gym.Name}}
              </li>
            </ul>
          </div>

          <form ng-show="user.gymEdit" ng-submit="user.saveGyms()">
            <label ng-repeat="gym in user.gyms | orderBy: 'Name'">
              <input type="checkbox" ng-model="gym.selected"> {{gym.Name}}
            </label>
            <div class="row submit">
              <a class="cancel" ng-click="user.gymEdit = !user.gymEdit">{{'CANCEL' | translate}}</a>
              <input type="submit" value="{{'SAVE' | translate}}" ng-disabled="user.userGymsSaving">
            </div>
            &nbsp;
          </form>
        </div>
      </div>
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.genreEdit" class="edit right" ng-click="user.loadGenres()">{{'EDIT' | translate}}</button>
          <h3>{{'GENRES' | translate}}</h3>
          <div ng-show="!user.genreEdit">
            <ul>
              <li ng-repeat="genre in user.user.UserGenres | orderBy: 'Name'">
                {{genre.Genre.Name | translate}}
              </li>
            </ul>
          </div>

          <form ng-show="user.genreEdit" ng-submit="user.saveGenres()">
            <label ng-repeat="genre in user.genres | orderBy: 'Name'">
              <input type="checkbox" ng-model="genre.selected"> {{genre.Name | translate}}
            </label>
            <div class="row submit">
              <a class="cancel" ng-click="user.genreEdit = !user.genreEdit">{{'CANCEL' | translate}}</a>
              <input type="submit" value="{{'SAVE' | translate}}" ng-disabled="user.userGenresSaving">
            </div>
            &nbsp;
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-9" ng-if="user.user.UserMusicProvider">
        <div class="box">

          <div class="row">
            <h3 ng-if="user.user.UserMusicProvider.MusicProvider.Name !== 'Simfy'">{{user.user.UserMusicProvider.MusicProvider.Name}}</h3>
            <span ng-if="user.user.UserMusicProvider.MusicProvider.Name == 'Simfy'">
              <h3>{{user.user.UserMusicProvider.MusicProvider.Name}} {{'ACC_DETAILS' | translate}}</h3>
              <p>{{'USERNAME' | translate}}: <em>{{user.user.UserMusicProvider.Username}}</em>
                <br> {{'PASSWORD' | translate}}: <em>{{user.user.UserMusicProvider.Password}}</em></p>
            </span>
          </div>

          <div class="row" ng-show="user.musicProviderAccountLoaded">
            <span ng-if="user.musicProviderAccount.Success">
              <img src="/img/ico40grn_syncsuccess.svg">
              <span class="success" translate="MUSIC_PROVIDER_AVAILABLE" translate-values="{name: user.user.UserMusicProvider.MusicProvider.Name}"></span>
            </span>
            <span ng-if="!user.musicProviderAccount.Success">
              <img src="/img/ico40orng_syncerror.svg">
              <span class="warning">{{user.musicProviderAccount.ErrorMessage | translate}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="columns large-9" ng-if-permission="viewAdmin" ng-show="user.viewingOwnUserProfile">
        <div class="box">
          <h3>{{'CHANGE_LANGUAGE' | translate}}</h3>
          <select ng-model="user.langKey" ng-change="user.changeLanguage(user.langKey)">
            <option value="en">{{'LANG_EN' | translate}}</option>
            <option value="it">{{'LANG_IT' | translate}}</option>
            <option value="pt">{{'LANG_PT' | translate}}</option>
            <option value="es">{{'LANG_ES' | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div ng-if-permission="users" class="user-extra">
      <div id="recent-rides" class="row playlists heading">
        <h1>{{'RIDES' | translate}}</h1>
      </div>

      <div class="row">
        <rides ng-if="user.user" data-rides="100" data-user-id="{{user.user.Id}}"></rides>
      </div>

      <div id="recent-rides" class="row playlists heading">
        <h1>{{'RIDES_CLUBS' | translate}}</h1>
      </div>

      <div class="row">
        <spinner class="spinner" name="userGyms" show="true"></spinner>

        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <li ng-if="gym.RegularGym || gym.PlaylistSyncCount > 0" ng-repeat="gym in user.gyms | orderBy:'Gym.Name'">
            <gym-rides data-view-only="true"></gym-rides>
          </li>
        </ul>
      </div>

      <div id="recent-classes" class="row classes heading">
        <h1>{{'RECENT_CLASSES' | translate}}</h1>
      </div>

      <div class="row">
        <recent-classes ng-if="user.user" data-classes="100" data-user-id="{{user.user.Id}}"></recent-classes>
      </div>
    </div>

  </div>
</div>
