<div class="profile row">
  <div class="large-2 columns">
    &nbsp;
  </div>
  <div class="large-14 columns">
    <div class="profile-header">
      <h1>{{user.user.FirstName}} {{user.user.LastName}}</h1>
      <p>{{user.user.Location.City}}, {{user.user.Location.Country.Code}}
        <span ng-if="user.user.LastClassDate"><br>
          <em>Last class: {{user.user.LastClassDate | date : 'dd MMMM yyyy'}}</em>
        </span>
      </p>
    </div>
    <div class="row">
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.contactEdit" ng-if-permission="editUser" class="edit right" ng-click="user.contactEdit = true">Edit</button>
          <h3>Contact details</h3>
          <div ng-show="!user.contactEdit">
            {{user.user.Telephone}}
            <br> <a href="mailto:{{user.user.Email}}">{{user.user.Email}}</a>
          </div>
          <div ng-show="user.contactEdit">
            <input type="text" ng-model="user.telephone">
            <input type="email" ng-model="user.email">
            <div class="right">
              <button class="round cancel" ng-click="user.contactEdit = !user.contactEdit">Cancel</button>
              <button class="round " ng-click="user.saveContactDetails()">Save</button>
            </div>
            &nbsp;
          </div>
        </div>
      </div>
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.userTypesEdit" ng-if-permission="editAdmin" class="edit right" ng-click="user.loadUserTypes()">Edit</button>
          <h3>Permissions</h3>
          <div ng-show="!user.userTypesEdit">
            {{user.user.UserType.Name}}
            <ul>
              <li ng-repeat="role in user.user.UserUserTypes" ng-if="role.UserType.PublicRole">
                {{role.UserType.Name}}
              </li>
            </ul>
          </div>
          <div ng-show="user.userTypesEdit" ng-if-permission="editAdmin">
            <label ng-repeat="userType in user.userTypes | orderBy: 'Name'" ng-if="userType.PublicRole">
              <input type="checkbox" name="usertypes" ng-model="userType.selected"> {{userType.Name}}
            </label>

            <div class="right">
              <button class="round cancel" ng-click="user.userTypesEdit = !user.userTypesEdit">Cancel</button>
              <button class="round" ng-click="user.saveUserTypes()">Save</button>
            </div>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.gymEdit" ng-if-permission="editUser" class="edit right" ng-click="user.loadGyms()">Edit</button>
          <h3>Resident clubs</h3>
          <!--TODO: convert the following into a directive, and conditionally include it-->
          <div ng-show="!user.gymEdit">
            <ul>
              <li ng-repeat="gym in user.user.UserGyms | orderBy: 'Gym.Name'">
                {{gym.Gym.Name}}
              </li>
            </ul>
          </div>
          <div ng-show="user.gymEdit">
            <label ng-repeat="gym in user.gyms | orderBy: 'Name'">
              <input type="checkbox" ng-model="gym.selected"> {{gym.Name}}
            </label>
            <div class="right">
              <button class="round cancel" ng-click="user.gymEdit = !user.gymEdit">Cancel</button>
              <button class="round" ng-click="user.saveGyms()">Save</button>
            </div>
            &nbsp;
          </div>
        </div>
      </div>
      <div class="columns large-9">
        <div class="box">
          <button ng-show="!user.genreEdit" ng-if-permission="editUser" class="edit right" ng-click="user.loadGenres()">Edit</button>
          <h3>Genres</h3>
          <div ng-show="!user.genreEdit">
            <ul>
              <li ng-repeat="genre in user.user.UserGenres | orderBy: 'Name'">
                {{genre.Genre.Name}}
              </li>
            </ul>
          </div>
          <div ng-show="user.genreEdit">
            <label ng-repeat="genre in user.genres | orderBy: 'Name'">
              <input type="checkbox" ng-model="genre.selected"> {{genre.Name}}
            </label>
            <div class="right">
              <button class="round cancel" ng-click="user.genreEdit = !user.genreEdit">Cancel</button>
              <button class="round" ng-click="user.saveGenres()">Save</button>
            </div>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-if="user.user.UserMusicProvider.MusicProvider.Name == 'Simfy'">
      <div class="columns large-9">
        <div class="box">
          <h3>{{user.user.UserMusicProvider.MusicProvider.Name}} account details</h3>
          <p>Username: <em>{{user.user.UserMusicProvider.Username}}</em>
            <br> Password: <em>{{user.user.UserMusicProvider.Password}}</em></p>
        </div>
      </div>
    </div>
  </div>
  <div class="large-2 columns">
    &nbsp;
  </div>
</div>
