<p>Profile image</p>

<h1>{{user.user.FirstName}} {{user.user.LastName}}</h1>

<p>location, {{user.user.Country.Name}} {{user.user.Country.Code}}</p>

<p>"active/inactive?" Last class: 2 Sept 2015</p>

<h3>Contact details</h3>

<span contentEditable type="telephone" ng-model="user.user.Telephone"></span><br>
<span contentEditable type="email" ng-model="user.user.Email"></span>

<h3>Permissions</h3>

<span ng-show="!user.userTypesEdit">
<a ng-click="user.loadUserTypes()">Edit</a><br>
{{user.user.UserType.Name}}
</span>

<span ng-show="user.userTypesEdit">
<label ng-repeat="userType in user.userTypes | orderBy: 'Name'">
  <input type="radio" name="usertypes" ng-model="user.user.UserTypeId" ng-value="userType.Id">{{userType.Name}}
</label>

<button class="round secondary" ng-click="user.userTypesEdit = !user.userTypesEdit">Cancel</button>
<button class="round" ng-click="user.saveUserTypes()">Save</button>
</span>


<h3>Resident clubs</h3>

TODO: convert the following into a directive, and conditionally include it

<span ng-show="!user.gymEdit">
<a ng-click="user.loadGyms()">Edit</a>
<ul>
	<li ng-repeat="gym in user.user.UserGyms | orderBy: 'Gym.Name'">
		{{gym.Gym.Name}}
	</li>
</ul>
</span>

<span ng-show="user.gymEdit">
<label ng-repeat="gym in user.gyms | orderBy: 'Name'">
  <input type="checkbox" ng-model="gym.selected">{{gym.Name}}
</label>

<button class="round secondary" ng-click="user.gymEdit = !user.gymEdit">Cancel</button>
<button class="round" ng-click="user.saveGyms()">Save</button>
</span>


<h3>Genres</h3>

<span ng-show="!user.genreEdit">
<a ng-click="user.loadGenres()">Edit</a>
<ul>
	<li ng-repeat="genre in user.user.UserGenres | orderBy: 'Name'">
		{{genre.Genre.Name}}
	</li>
</ul>
</span>

<span ng-show="user.genreEdit">
<label ng-repeat="genre in user.genres | orderBy: 'Name'">
  <input type="checkbox" ng-model="genre.selected">{{genre.Name}}
</label>

<button class="round secondary" ng-click="user.genreEdit = !user.genreEdit">Cancel</button>
<button class="round" ng-click="user.saveGenres()">Save</button>
</span>

<h3>Recent classes</h3>

List recent classes - where do we get this list from?

<h3>Recent rides</h3>

List recent playlists

<h3>Simfy account?</h3>



