<div class="row providers">
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">

    <div class="row heading">
      <a class="back" ui-sref="dashboard">{{'BACK' | translate}}</a>
      <h1>{{vm.name}}</h1>
    </div>

    <spinner class="spinner" name="heartbeatlog" show="true"></spinner>

    <div class="box heartbeat-container" ng-show="vm.heartbeat">
      <div class="heartbeat">
      <h3>{{'CONNECTIVITY' | translate}}</h3>
      <label ng-if="vm.hasHeartbeat">{{'AVAILABLE' | translate}}</label>
      <div class="beats">
        <div ng-repeat="beat in vm.heartbeat track by $index">
          <div ng-class="{'pulse': beat.beat, 'no-pulse': !beat.beat}" popover-title="{{beat.date | date : 'dd' | translate}} {{beat.date | date : 'MMMM' | translate}} {{beat.date | date : 'yyyy HH:mm'}}" data-popover="{{vm.popoverContents(beat) | translate}}" popover-trigger="mouseenter"></div>
        </div>
      </div>
      <label class="disconnected">{{'UNAVAILABLE' | translate}}</label>
      <hr>
      <div class="left">{{vm.heartbeat[0].date | date : 'dd'}} {{vm.heartbeat[0].date | date : 'MMMM' | translate}}</div>
      <span ng-if="vm.heartbeat.length > 40" style="position: relative; min-width: 100px; left: {{(vm.heartbeat.length * 4) - 60}}px">
        {{vm.heartbeat[vm.heartbeat.length - 1].date | date : 'dd'}} {{vm.heartbeat[vm.heartbeat.length - 1].date | date : 'MMMM' | translate}}
      </span>
      </div>
    </div>

    <br>

    <div ng-if="vm.hasErrors" class="row heading">
      <h3>{{'ERROR_LOG' | translate}}</h3>
    </div>

    <table>
      <tr ng-if="!log.Success" ng-repeat="log in vm.heartbeat | orderBy:'i'">
        <td>{{log.date | date : 'dd'}} {{log.date | date : 'MMMM' | translate}} {{log.date | date : 'yyyy HH:mm'}}</span></td>
        <td>
          <span ng-if="log.Success">{{'AVAILABLE' | translate}}</span>
          <span ng-if="!log.Success">
            <div class="warning">{{'UNAVAILABLE' | translate}}</div>
            <div>{{log.ErrorMessage | translate}}</div>
            <div>{{log.ErrorDetail}}</div>
          </span>
        </td>
      </tr>
    </table>

  </div>
</div>