<div class="row providers">
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">

    <div class="heading">
      <h1>{{vm.name}}</h1>
    </div>

    <spinner class="spinner" name="heartbeatlog" show="true"></spinner>

    <div class="box heartbeat" ng-show="vm.heartbeat">
      <h3>Connectivity</h3>
      <label ng-if="vm.hasHeartbeat">{{'AVAILABLE' | translate}}</label>
      <div class="beats">
        <div ng-repeat="beat in vm.heartbeat track by $index">
          <div ng-class="{'pulse': beat.beat, 'no-pulse': !beat.beat}" popover-title="{{beat.date | date : 'dd' | translate}} {{beat.date | date : 'MMMM' | translate}} {{beat.date | date : 'yyyy HH:mm'}}" data-popover="{{vm.popoverContents(beat) | translate}}" popover-trigger="mouseenter"></div>
        </div>
      </div>
      <label class="disconnected">{{'UNAVAILABLE' | translate}}</label>
      <hr>
      <div class="left">{{vm.heartbeat[0].date | date : 'dd'}} {{vm.heartbeat[0].date | date : 'MMMM' | translate}}</div>
      <div style="position: absolute; min-width: 100px; left: {{(vm.heartbeat.length * 4) - 20}}px">
        {{vm.heartbeat[vm.heartbeat.length - 1].date | date : 'dd'}} {{vm.heartbeat[vm.heartbeat.length - 1].date | date : 'MMMM' | translate}}
      </div>
    </div>

  </div>
</div>