<div class="row">
  <div class="large-12 medium-18 small-18 large-centered columns">

    <div class="heading row">
      <div class="large-13 medium-12 columns">
        <h1>{{'GYMS' | translate}}</h1>
      </div>
      <div class="large-5 medium-6 columns">
        <button class="secondary" ui-sref="gym-new">{{'GYM_NEW' | translate}}</button>
      </div>
    </div>

    <spinner class="spinner" name="gyms" show="true"></spinner>
    <alert ng-if="vm.alert" type="vm.alert.type" close="vm.alert = undefined">{{vm.alert.msg | translate}}</alert>

    <tabset>
      <tab heading="{{'GYMS_ACTIVE' | translate}} ({{vm.gyms.length}})">
        <span ng-if="vm.gyms.length > 0">
          <label>{{'SEARCH' | translate}}</label>
          <input ng-model="query" type="text" placeholder="{{'GYMS_SEARCH' | translate}}" maxlength="60" autofocus>
        </span>

        <accordion>
          <gym ng-repeat="gym in vm.gyms | filter:{Name:query} | orderBy:'Name'"></gym>
          <span ng-if="vm.gyms.length === 0" class="empty">{{'GYMS_EMPTY' | translate}} <a ui-sref="gym-new">{{'GYM_NEW' | translate}}</a></span>
        </accordion>
      </tab>
      <tab heading="{{'GYMS_INACTIVE' | translate}} ({{vm.archivedGyms.length}})">
        <span ng-if="vm.archivedGyms.length > 0">
          <label>{{'SEARCH' | translate}}</label>
          <input ng-model="query" type="text" placeholder="{{'GYMS_SEARCH' | translate}}" maxlength="60" autofocus>
        </span>

        <accordion>
          <gym ng-repeat="gym in vm.archivedGyms | filter:{Name:query} | orderBy:'Name'"></gym>
        </accordion>
      </tab>
    </tabset>
  </div>
</div>
