<div class="row">
  <div class="box box-single">
    <h3>{{'CURRENT_STATUS' | translate}}</h3>

    <div ng-if="vm.log && vm.log.Success">
      <img align="left" class="email-success" src="/img/ico40grn_syncsuccess.svg">
      <h2>{{'AVAILABLE' | translate}} <span class="extra-info">{{'UPDATED' | translate}} {{vm.log.CreateDate | timeago}}</span></h2>
      <span translate="MUSIC_PROVIDER_AVAILABLE" translate-values="{name: vm.name}"></span> <a ui-sref="music-provider-status">{{'VIEW_LOG' | translate}}</a>
    </div>

    <div ng-if="vm.log && vm.log.Success === false">
      <img align="left" class="email-error" src="/img/ico16orng_syncerror.svg">
      <h2>{{'UNAVAILABLE' | translate}} <span class="extra-info">{{'UPDATED' | translate}} {{vm.log.CreateDate | timeago}}</span></h2>
      <span translate="MUSIC_PROVIDER_UNAVAILABLE" translate-values="{name: vm.name}"></span> <a ui-sref="music-provider-status">{{'VIEW_LOG' | translate}}</a>
    </div>

  </div>
</div>

