<div class="templates row">
  <div class="large-14 large-centered columns">
  </div>
</div>

<div class="templates row">
  <div class="large-14 large-centered columns">
    <h1>Templates</h1>

    <table>
      <thead>
        <tr>
          <td>Template Name</td>
          <td>Description</td>
          <td>Icon name</td>
          <td>Icon</td>
          <td>Class lengths</td>
          <td>TemplateGroup Id</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="templateGroup in templates.templateGroups | orderBy:'Name'">
          <td><a ui-sref="templategroup({id:templateGroup.Id})">{{templateGroup.Name}}</a></td>
          <td>{{templateGroup.Description}}</td>
          <td>{{templateGroup.IconFileName}}</td>
          <td><img src="/img/templates/{{templateGroup.IconFileName}}"></td>
          <td>
            <div class="classlength" ng-repeat="template in templateGroup.ClassLengths">
              <a ui-sref="template({id:template.TemplateId})">{{template.ClassLengthMinutes}}</a>
            </div>
          </td>
          <td>{{templateGroup.Id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </tbody>
