<div class="templates row">
  <div class="large-14 large-centered columns">
    <div class="row heading">
      <div class="columns small-12 medium-14">
        <h1>Templates</h1>
      </div>
      <div class="columns small-6 medium-4">
        <a ui-sref="templates">+ Create new template</a>
      </div>
    </div>
    <div class="row">

      <!--<spinner class="spinner" name="templatesSpinner" show="true"></spinner>-->

      <tabset>
        <tab heading="Active templates ({{templates.active}})">
          <templategroups kind="active" ng-model="templates.active"></templategroups>
        </tab>
        <tab heading="Archived templates ({{templates.inactive}})">
          <templategroups kind="inactive" ng-model="templates.inactive"></templategroups>
        </tab>
      </tabset>

    </div>

  </div>
</div>
