<div class="create-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="medium-18 large-14 small-centered large-centered columns">
      <h1>{{'CLASS_LENGTH' | translate}}</h1>

     <spinner class="spinner" name="playlistTimeSpinner" show="true"></spinner>

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li ng-if="template.Enabled" ng-repeat="template in playlist_time.templates | orderBy:'ClassLengthMinutes'">
          <a class="choose-template" ui-sref="playlist-new-edit({id:template.TemplateId})">
            <div class="template">
              <div class="icon"><img src="/img/templates/intervals.svg"></div>
              <h4><span ng-bind-html="template.ClassLengthMinutes"></span> {{'MINS' | translate}}</h4>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
