<div class="create-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="large-2 columns">
      &nbsp;
    </div>
    <div class="large-14 columns">
      <h3>How long is your class?</h3>

      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li ng-repeat="template in playlist_time.templates">
          <a class="choose-template" ui-sref="playlist-new-edit({id:template.TemplateId})">
            <div class="template">
              <div class="icon"><img src="/img/templates/intervals.svg"></div>
              <h4><span ng-bind-html="template.ClassLengthMinutes"></span> mins</h4>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="large-2 columns">
      &nbsp;
    </div>
  </div>
</div>
