<div class="row">
  <spinner class="spinner" name="device" show="true"></spinner>
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns" ng-show="vm.loaded">

    <div class="row heading device">
      <h1>{{vm.snapshot.Name}} - {{vm.snapshot.Gym.Name}}
        <span class="type" ng-if="vm.snapshot.Primary">{{'PRIMARY' | translate}}</span>
        <span class="type" ng-if="!vm.snapshot.Primary">{{'SECONDARY' | translate}}</span>
      </h1>
    </div>

    <div class="row" ng-hide="vm.saved" ng-if="vm.state === 'device-edit'">
      <form name="vm.form" ng-submit="vm.form.$valid && vm.saveDevice()" novalidate>
        <label>{{'DEVICE_NAME' | translate}}</label>
        <input type="text" name="name" size="60" maxlength="60" ng-model="vm.device.Name" required />
        <div ng-show="vm.form.$submitted || vm.form.name.$touched">
          <small class="error" ng-show="vm.form.name.$error.required">{{'DEVICE_NAME_REQ' | translate}}</small>
        </div>

        <br>
        <label>{{'DEVICE_TYPE' | translate}}</label>
        <label class="no-bold"><input type="radio" ng-model="vm.device.Primary" ng-value="true"> {{'PRIMARY' | translate}}</label>
        <div ng-if="!vm.snapshot.Primary && vm.device.Primary && vm.gyms.HasPrimary">
          {{'DEVICE_SECONDARY_CONFIRM' | translate}}
          <span ng-if="device.Primary" ng-repeat="device in vm.gyms.data">{{device.Name}} <em>{{'PRIMARY' | translate}}</em></span>
        </div>

        <label class="no-bold"><input type="radio" ng-model="vm.device.Primary" ng-value="false"> {{'SECONDARY' | translate}}</label>
        <div ng-if="vm.snapshot.Primary && !vm.device.Primary && vm.gyms.HasSecondary">
          <p translate="DEVICE_PRIMARY_REMOVE_CONFIRM" translate-values="{gym: vm.device.Gym.Name}"></p>

          <label ng-repeat="device in vm.gyms.data | orderBy:'Name'">
            <input name="newPrimary" type="radio" ng-model="vm.newPrimary" ng-value="device" required>
            {{device.Name}}
          </label>
        </div>

        <div class="row submit">
          <a class="cancel" ui-sref="device({id:vm.id})">{{'CANCEL' | translate}}</a>
          <input type="submit" ng-disabled="vm.form.$pristine || vm.saving || vm.form.$invalid" value="{{'SAVE' | translate}}">
          <spinner class="spinner" name="saveDeviceSpinner" show="false"></spinner>
        </div>
      </form>
    </div>

    <div class="row" ng-hide="vm.saved" ng-if="vm.state === 'device-disable'">
      <h3 ng-if="vm.device.Primary">{{'DEVICE_IS_PRIMARY' | translate}}</h3>
      <h3 ng-if="!vm.device.Primary">{{'DEVICE_IS_SECONDARY' | translate}}</h3>
      <p>{{'DEVICE_DISABLE_WARN' | translate}}</p>

      <form name="vm.form" ng-submit="vm.form.$valid && vm.disableDevice()" novalidate>

        <div ng-if="vm.device.Primary && vm.gyms.HasSecondary">
          <h3>{{'DEVICE_NEW_PRIMARY' | translate}}</h3>

          <label ng-repeat="device in vm.gyms.data | orderBy:'Name'">
            <input name="newPrimary" type="radio" ng-model="vm.newPrimary" ng-value="device" required>
            {{device.Name}}
          </label>
        </div>

        <div class="row submit">
          <a class="cancel" ui-sref="device({id:vm.id})">{{'CANCEL' | translate}}</a>
          <input type="submit" ng-disabled="vm.form.$invalid || vm.saving" value="{{'DEVICE_DISABLE_CONFIRM' | translate}}">
          <spinner class="spinner" name="disableDeviceSpinner" show="false"></spinner>
        </div>

      </form>
    </div>

    <div class="row submit" ng-show="vm.saved" ng-if="vm.action === 'edit'">
      <alert ng-if="vm.alert" type="vm.alert.type">{{vm.alert.msg | translate}}</alert>
      <a ui-sref="device({id:vm.id})">{{'DEVICE_BACK' | translate}}</a>
    </div>

    <div ng-show="vm.saved" ng-if="vm.action === 'disable'">
      <div class="row">
        <div class="small-2 medium-2 large-1 columns">
          <img ng-if="vm.alert.type === 'success'" src="/img/ico40grn_syncsuccess.svg">
          <img ng-if="vm.alert.type === 'warning'" src="/img/ico40orng_syncerror.svg">
        </div>
        <div class="small-16 medium-16 large-17 columns">
          <span ng-if="vm.alert.type === 'success'"><p class="success">{{vm.alert.msg | translate}}</p></span>
          <span class="warning" ng-if="vm.alert.type === 'warning'"><p class="warning"><strong>{{vm.alert.msg | translate}}</strong></p><p class="small">{{'RETRY_OR_CONTACT_ADMIN' | translate}}</p></span>
        </div>
      </div>
      <div class="row submit" ng-if="vm.alert.type === 'success'">
        <a class="cancel" ui-sref="devices-admin">{{'DEVICE_DASHBOARD_RETURN' | translate}}</a>
        <button class="submit secondary" ui-sref="device-new">{{'DEVICE_NEW' | translate}}</button>
      </div>
      <div class="row submit" ng-if="vm.alert.type === 'warning'">
        <a class="cancel" ui-sref="device({id:vm.id})">{{'CANCEL' | translate}}</a>
        <input type="submit" ng-disabled="vm.saving" value="{{'RETRY' | translate}}" ng-click="vm.disableDevice()">
      </div>
    </div>

  </div>
</div>
