<div class="dashboard row">
  <div class="large-2 columns">
    &nbsp;
  </div>
  <div class="large-14 columns">
    <div class="row playlists heading">
      <div class="columns large-14">
        <h3>My saved playlists</h3>
      </div>
      <div class="columns large-4">
        View all playlists
      </div>
    </div>
    <div class="row">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
        <li><a ui-sref="playlist-new-template">+ Create new ride class</a></li>
        <li ng-repeat="playlist in dashboard.playlists | orderBy:'Name'">
          <ride playlist="{{playlist}}"></ride>
        </li>
      </ul>
    </div>
    <div class="row gyms heading">
      <div class="columns large-14">
        <h3>My clubs</h3>
      </div>
      <div class="columns large-4">
        <a>Manage clubs</a>
      </div>
    </div>
    <div class="row">
      [List of clubs]
    </div>
    <div class="row classes heading">
      <div class="columns large-14">
        <h3>Recent classes</h3>
      </div>
      <div class="columns large-4">
        <a>View all classes this month</a>
      </div>
    </div>
    <div class="row">
      [List of classes]
    </div>
    <div class="row rides heading">
      <div class="columns large-14">
        <h3>Rides shared by others</h3>
      </div>
      <div class="columns large-4">
        <a>Browse all rides</a>
      </div>
    </div>
    <div class="row">
      [List of rides]
    </div>
  </div>
  <div class="large-2 columns">
    &nbsp;
  </div>
</div>
