<div class="dashboard row">
  <div class="large-14 large-centered columns">
    <div class="row playlists heading">
      <div class="columns small-12 medium-14">
        <h1>{{'RECENT_RIDES' | translate}}</h1>
      </div>
      <div class="columns small-6 medium-4">
        <a ui-sref="playlists">{{'VIEW_RIDES' | translate}}</a>
      </div>
    </div>
    <div class="row">
      <spinner class="spinner" name="dashboardPlaylistsSpinner" show="true"></spinner>
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
        <li class="new" ng-if-permission="createPlaylist">
          <a ui-sref="playlist-new-template">
            <span class="clearfix"><img class="right" src="/img/playlists_grey/new.svg"></span>
            <div class="content">
              <h5>{{'CREATE_RIDE' | translate}}</h5>
            </div>
          </a>
        </li>
        <li ng-repeat="playlist in dashboard.playlists">
          <ride></ride>
        </li>
      </ul>
    </div>
    <div class="row gyms heading">
      <div class="columns small-10 medium-14">
        <h1>{{'RIDES_CLUBS' | translate}}</h1>
      </div>
      <div class="columns small-8 medium-4">
        <a ui-sref="user" ng-if-permission="createPlaylist">{{'MANAGE_CLUBS' | translate}}</a>
      </div>
    </div>
    <div class="row">
      <spinner class="spinner" name="dashboardGymsSpinner" show="true"></spinner>

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li ng-if="gym.RegularGym || gym.PlaylistSyncCount > 0" ng-repeat="gym in dashboard.gyms | orderBy:'Gym.Name'">
          <gym-rides></gym-rides>
        </li>
      </ul>

    </div>
    <div class="row classes heading">
      <div class="columns small-10 medium-">
        <h1>{{'RECENT_CLASSES' | translate}}</h1>
      </div>
      <div class="columns small-8 medium-4">
        <a ui-sref="recent-classes" ng-if-permission="viewContent">{{'VIEW_ALL_CLASSES' | translate}}</a>
      </div>
    </div>
    <div class="row">
      <spinner class="spinner" name="dashboardClassesSpinner" show="true"></spinner>

      <table style="width: 100%;" ng-if="dashboard.classes.length > 0">
        <tbody>
        <tr ng-repeat="class in dashboard.classes">
          <td>{{class.ClassTaughtDate | date : 'dd MMMM yyyy'}}</td>
          <td>{{class.ClassTaughtDate  | date : 'H:mm'}}</td>
          <td>{{class.GymName}}</td>
          <td>{{class.TemplateName}}</td>
          <td>{{class.PlaylistName}}</td>
          <td>{{class.ClassLengthMinutes}} mins</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--
    <div class="row rides heading">
      <div class="columns large-14">
        <h1>{{'SHARED_RIDES' | translate}}</h1>
      </div>
      <div class="columns large-4">
        <a>{{'BROWSE_RIDES' | translate}}</a>
      </div>
    </div>
    <div class="row">
      <spinner class="spinner" name="dashboardSharedSpinner" show="true"></spinner>
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
        <li ng-repeat="playlist in dashboard.playlists | orderBy:'Created'">
          <ride playlist="{{playlist}}"></ride>
        </li>
      </ul>
    </div>
    -->
  </div>
</div>
