<div class="dashboard row">
  <div class="row">
    <div class="columns large-2">
      &nbsp;
    </div>
    <div class="columns large-14">
      <div class="row playlists">
        <div class="columns large-14">
          My saved playlists
        </div>
        <div class="columns large-4">
          View all playlists
        </div>
      </div>
      <div class="row">
      	<a>+ Create new ride class</a>
      </div>

      <div class="row gyms">
        <div class="columns large-14">
          My clubs
        </div>
        <div class="columns large-4">
          <a>Manage clubs</a>
        </div>
      </div>
      <div class="row">
      	List of clubs
      </div>

      <div class="row classes">
        <div class="columns large-14">
          Recent classes
        </div>
        <div class="columns large-4">
          <a>View all classes this month</a>
        </div>
      </div>
      <div class="row">
	      List of classes
      </div>

      <div class="row rides">
        <div class="columns large-14">
          Rides shared by others
        </div>
        <div class="columns large-4">
          <a>Browse all rides</a>
        </div>
      </div>
      <div class="row">
	      List of rides
      </div>


    </div>
    <div class="columns large-2">
      &nbsp;
    </div>
  </div>
</div>
