<spinner class="spinner center" name="instructors" show="true"></spinner>
<div class="row" vertilize-container ng-if="vm.emailLoaded">
  <div class="medium-9 columns">
    <div class="box box-left" vertilize data-vertilize-loaded="{{vm.emailLoaded}}" data-vertilize-disable-on-mobile="true">
      <h3>{{'INSTRUCTORS_REGISTERED' | translate}}</h3>

      <p>&nbsp;</p>
      <div class="row">
        <div class="small-7 columns">
          <div class="line registered">&nbsp;</div>
          <div class="content">
            <h4 class="number">{{vm.registered.registered}}</h4>
            {{'registered' | translate | lowercase}}
            <br>
            <a ui-sref="instructors({type:'registered'})">{{'VIEW_LIST' | translate}}</a>
          </div>
        </div>
        <div class="small-7 columns">
          <div class="line secondary">&nbsp;</div>
          <div class="content">
            <h4 class="number">{{vm.registered.unregistered}}</h4>
            {{'UNREGISTERED' | translate}}<br>
            <a ui-sref="instructors({type:'unregistered'})">{{'VIEW_LIST' | translate}}</a>
          </div>
        </div>
        <div class="small-4 columns">
          <circle-progress class="registered" ng-class="{'p100' : vm.registered.percent == '100', 'p0' : vm.registered.percent == '0'}" ng-if="vm.registered.percent >= 0" data-percent="{{vm.registered.percent}}"></circle-progress>
        </div>
      </div>

    </div>
  </div>
  <div class="medium-9 columns">  
    <div class="box box-right" vertilize data-vertilize-loaded="{{vm.emailLoaded}}" data-vertilize-disable-on-mobile="true">
      <h3>{{'INSTRUCTORS_ACTIVE' | translate}}</h3>

      <p>{{'INSTRUCTORS_RIDES_TAUGHT' | translate}}</p>
      <div class="row">
        <div class="small-7 columns">
          <div class="line active">&nbsp;</div>
          <div class="content">
            <h4 class="number">{{vm.active.active}}</h4>
            {{'INSTRUCTORS_ACTIVE' | translate | lowercase}}<br>
            <a ui-sref="instructors({type:'active'})">{{'VIEW_LIST' | translate}}</a>
          </div>
        </div>
        <div class="small-7 columns">
          <div class="line secondary">&nbsp;</div>
          <div class="content">
            <h4 class="number">{{vm.active.inactive}}</h4>
            {{'INSTRUCTORS_INACTIVE' | translate | lowercase}}<br>
            <a ui-sref="instructors({type:'inactive'})">{{'VIEW_LIST' | translate}}</a>
          </div>
        </div>
        <div class="small-4 columns">
          <circle-progress class="active" ng-class="{'p100' : vm.active.percent == '100', 'p0' : vm.active.percent == '0'}" ng-if="vm.active.percent >= 0" data-percent="{{vm.active.percent}}" data-color="red"></circle-progress>
        </div>
      </div>

    </div>
  </div>
</div>

<spinner class="spinner center" name="emailsTemplates" show="true"></spinner>
<div class="row" vertilize-container ng-if="vm.emailLoaded && vm.templates">
  <div class="medium-9 columns">
    <div class="box box-left" vertilize data-vertilize-disable-on-mobile="true">
      <h3>{{'EMAIL_LOG' | translate}}</h3>

      <div class="row" ng-if="vm.emailFailedCount > 0">
        <div class="small-12 columns">
          <div class="line failure">&nbsp;</div>
          <div class="content">
            <h4 class="number">{{vm.emailFailedCount}}</h4>
            {{'EMAILS_PROBLEMS' | translate | lowercase}}<br>
            <a ui-sref="emails">{{'VIEW_EMAILS' | translate}}</a>
          </div>
        </div>
        <div class="small-6 columns">
          <img class="email-error right" src="/img/ico16orng_syncerror.svg">
        </div>
      </div>

      <div class="row" ng-if="vm.emailFailedCount === 0">
        <div class="small-12 columns">
          <div class="line success">&nbsp;</div>
          <div class="content">
            {{'EMAILS_NO_PROBLEMS' | translate}}<br>
            <a ui-sref="emails">{{'VIEW_EMAIL_LOG' | translate}}</a>
          </div>
        </div>
        <div class="small-6 columns">
          <img class="email-success right" src="/img/ico40grn_syncsuccess.svg">
        </div>
      </div>

    </div>
  </div>
  <div class="medium-9 columns">
    <div class="box box-right" vertilize data-vertilize-disable-on-mobile="true">
      <h3>{{'TOP_TEMPLATES' | translate}}</h3>

      <p>{{'TEMPLATES_RIDES_CREATED' | translate}}</p>

      <div class="row reporting-template" ng-repeat="template in vm.templates | orderBy:'template.Count':reverse">
        <div class="small-16 columns">
          <img class="icon" ng-src="/img/playlists_grey/{{template.TemplateIconFileName}}">
          {{template.TemplateName}}
        </div>
        <div class="small-2 columns">
          {{template.Count}}
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="box box-single">
    <h3>{{'CLUB_OVERVIEW' | translate}}</h3>
    <spinner class="spinner center" name="reportClubSpinner" show="true"></spinner>

    <p>{{'RIDES_TAUGHT' | translate}}</p>

    <div class="row" ng-repeat="ride in vm.rides | orderBy:'ride.Count'">

      <div class="gym-name">
        {{ride.GymName}}
        <span class="ride-count normal" ng-if="ride.Percent <= 20">{{ride.Count}} {{'RIDES' | translate | lowercase}}</span>
      </div>

      <div class="progress">
        <span class="meter left" style="width: {{ride.Percent}}%">
          <div class="ride-count right" ng-if="ride.Percent > 20">{{ride.Count}} {{'RIDES' | translate | lowercase}}</div>
        </span>
      </div>
    </div>
  </div>
</div>