<div class="row">
  <div class="medium-18 large-14 small-centered large-centered columns">
    <h1>{{vm.template.TemplateGroup.Name}} template</h1>

    <table>
      <thead>
        <tr>
          <td>Description</td>
          <td>Icon</td>
          <td>Class length</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{vm.template.TemplateGroup.Description}}</td>
          <td><img src="/img/templates/{{vm.template.TemplateGroup.IconFileName}}"></td>
          <td>{{vm.template.ClassLengthMinutes}} minutes</td>
        </tr>
      </tbody>
    </table>

    TODO: list all goals in this template
  </div>
</div>
