<div class="onboarding row">
  <h1 class="site-heading">{{'ONBOARDING_TITLE' | translate}}</h1>

  <div class="large-8 large-centered columns">
    <div class="content">

      <h1>{{'OB_STARTED' | translate}}</h1>

      <div class="dark-block text-center row">
        <div class="large-16 large-centered columns">

          <div class="row">
            <div class="large-8 medium-8 small-8 columns dark-block">
              <a class="item create-ride" ui-sref="playlist-new-template" ng-if-permission="createPlaylist">
                <i class="create-ride"></i>
                <label>{{'CREATE_RIDE_MENU' | translate}}</label>
              </a>
            </div>
            <div class="large-8 medium-8 small-8 columns dark-block">
              <a class="item" ui-sref="dashboard" ng-if-permission="viewContent">
                <i class="dashboard"></i>
                <label>{{'DASHBOARD' | translate}}</label>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
