<div class="onboarding row">
  <div class="large-8 large-centered columns">
    <div class="content">

      <div class="dark-block text-left row">
        <div class="large-16 large-centered columns">

          <p>{{'OB_KNOW' | translate}}</p>
          <h2>{{'OB_CLUBS' | translate}}</h2>
          <form ng-submit="onboarding.save_gyms()">
            <span class="align-left" ng-repeat="gym in onboarding.gyms | orderBy:'Name'">
              <label>
                <input type="checkbox" ng-model="gym.selected"> {{gym.Name}}
              </label>
            </span>
            <button class="round">{{'SAVE' | translate}}</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
