<div class="onboarding row">
  <h1 class="site-heading">{{'ONBOARDING_TITLE' | translate}}</h1>

  <div class="large-8 large-centered columns">
    <div class="content">

      <h3>{{'OB_KNOW' | translate}}</h3>
      <h1>{{'OB_CLUBS' | translate}}</h1>

      <div class="dark-block text-left row">
        <div class="large-16 large-centered columns">

          <spinner class="spinner" name="obGymsSpinner" show="true"></spinner>

          <form ng-submit="vm.save_gyms()">
            <span class="align-left" ng-repeat="gym in vm.gyms | orderBy:'Name'">
              <label>
                <input type="checkbox" ng-model="gym.selected"> {{gym.Name}}
              </label>
            </span>
            <input type="submit" ng-show="vm.gyms.length > 0" class="right" value="{{'SAVE' | translate}}" ng-disabled="vm.saving">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
