<div class="onboarding row">
  <h3>{{'OB_HEY' | translate}} {{onboarding.user.Name}}</h3>
  <p>
    {{'OB_INVITED' | translate}}
  </p>
  <h1>
    {{'OB_TITLE_APP' | translate}}
  </h1>
  <div class="row">
    <div class="columns large-5">
      &nbsp;
    </div>
    <div class="columns large-8">
      <ul class="large-block-grid-3 medium-block-grid-3">
        <li>{{'OB_ENDORSED' | translate}}</li>
        <li>{{'OB_SONGS' | translate}}</li>
        <li>{{'OB_SYNC' | translate}}</li>
      </ul>
    </div>
    <div class="columns large-5">
      &nbsp;
    </div>
  </div>
  <p>
    {{'OB_SETUP' | translate}}
  </p>
  <button class="round" ui-sref="onboarding-password({id:onboarding.id})">
    {{'OB_STARTED' | translate}}`
  </button>
</div>
