<div class="onboarding row">
  <h3>Hey {{onboarding.user.Name}}</h3>
  <p>
    You've been invited to
  </p>
  <h1>
    Group Exercise Instructor App
  </h1>
  <div class="row">
    <div class="columns large-5">
      &nbsp;
    </div>
    <div class="columns large-8">
      <ul class="large-block-grid-3 medium-block-grid-3">
        <li>Up your game with <em>professionally endorsed ride terrain templates.</em></li>
        <li>It's never been this easy with over <em>1 million BPM tagged songs of all genres.</em></li>
        <li><em>Sync your playlist directly to the studio,</em> no more hassling with CD's.</li>
      </ul>
    </div>
    <div class="columns large-5">
      &nbsp;
    </div>
  </div>
  <p>
    Let's get you set up!
  </p>
  <button class="round" ui-sref="onboarding-password({id:onboarding.id})">
    Get started
  </button>
</div>
