<div class="onboarding row">
  <div class="columns large-5">&nbsp;</div>
  <div class="columns large-8">
    <h3>Hi {{onboarding.user.Name}}</h3>
    <h1>Welcome to Group Instructor app</h1>
    <div class="dark-block row">
      <div class="columns large-3">&nbsp;</div>
      <div class="columns large-12">
        <h2>Choose a password</h2>
        <p>You will be asked to enter your email address and this password next time you log in</p>
        <form ng-submit="onboarding.save_password()">
          <label for="password">Password</label>
          <input name="password" type="password" ng-model="onboarding.password" required>
          <label for="password1">Confirm password</label>
          <input name="password1" type="password" required>
          <button class="round">Save password</button>
        </form>
      </div>
      <div class="columns large-3">&nbsp;</div>
    </div>
  </div>
  <div class="columns large-5">&nbsp;</div>
</div>
