<div class="onboarding row">
  <div class="columns large-5">&nbsp;</div>
  <div class="columns large-8">
    <h3>{{'OB_HI' | translate}} {{onboarding.user.Name}}</h3>
    <h1>{{'OB_WELCOME' | translate}}</h1>
    <div class="dark-block row">
      <div class="columns large-3">&nbsp;</div>
      <div class="columns large-12">
        <h2>{{'OB_CHOOSE_PASSWORD' | translate}}</h2>
        <p>{{'OB_FIRST_TIME' | translate}}</p>
        <div class="row">
          <div class="columns large-3">&nbsp;</div>
          <div class="columns large-12">
            <form ng-submit="onboarding.save_password()">
              <label for="password">{{'PASSWORD' | translate}}</label>
              <input name="password" type="password" ng-model="onboarding.password" required>
              <label for="password1">{{'PASSWORD_CONFIRM' | translate}}</label>
              <input name="password1" type="password" required>
              <button class="round">{{'PASSWORD_SAVE' | translate}}</button>
            </form>
          </div>
          <div class="columns large-3">&nbsp;</div>
        </div>
      </div>
      <div class="columns large-3">&nbsp;</div>
    </div>
  </div>
  <div class="columns large-5">&nbsp;</div>
</div>
