<div class="onboarding row">
  <div style="display: none;" class="large-8 large-centered columns" ng-class="{'show': onboarding.user}">
    <div class="content">
    <h3>{{'OB_HI' | translate}} {{onboarding.user.FirstName}}</h3>
    <h1>{{'OB_WELCOME' | translate}}</h1>
    <div class="dark-block row">
      <div class="large-16 large-centered columns">
        <h2>{{'OB_CHOOSE_PASSWORD' | translate}}</h2>
        <p>{{'OB_FIRST_TIME' | translate}}</p>
        <div class="row">
            <form name="form" ng-submit="onboarding.save_password()" novalidate>
              <label for="password">{{'PASSWORD' | translate}}</label>
              <input name="password" type="password" ng-model="onboarding.password" required>
              <div ng-show="form.$submitted || form.password.$touched">
                <small class="error" ng-show="form.password.$error.required">{{'PASSWORD_REQ' | translate}}</small>
              </div>

              <label for="password1">{{'PASSWORD_CONFIRM' | translate}}</label>
              <input name="password1" type="password" ng-model="onboarding.password1" required>
              <div ng-show="form.$submitted || form.password1.$touched">
                <small class="error" ng-show="form.password1.$error.required">{{'PASSWORD_CONFIRM_REQ' | translate}}</small>
              </div>

              <div ng-show="form.$submitted || form.password1.$touched && form.password1.$modelValue.length > 0">
                <small class="error" ng-show="form.password.$modelValue !== form.password1.$modelValue">{{'PASSWORDS_DONT_MATCH' | translate}}</small>
              </div>

              <input type="submit" value="{{'PASSWORD_SAVE' | translate}}">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
