<h1>Goals</h1>

<table>
  <thead>
    <tr>
      <td>Goal Name</td>
      <td>BPM Low</td>
      <td>BPM High</td>
      <td>Aim</td>
      <td>Country Id</td>
      <td>Id</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="goal in goals.goals">
      <td contentEditable ng-change="goals.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.Name"></td>
      <td contentEditable ng-change="goals.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.BpmLow"></td>
      <td contentEditable ng-change="goals.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.BpmHigh"></td>
      <td contentEditable ng-change="goals.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.Aim"></td>
      <td ng-change="goals.update(goal)" ng-model-options="{updateOn : 'change blur'}" ng-model="goal.CountryId"></td>
      <td>{{goal.Id}}</td>
      <td ng-click="goals.delete(goal)"><a>x</a></td>
    </tr>
    <tr>
    <td colspan="7"><h5>Add new goal</h5></td>
    </tr>
    <tr>
      <td contentEditable ng-model="goals.newGoal.Name"></td>
      <td contentEditable ng-model="goals.newGoal.BpmLow"></td>
      <td contentEditable ng-model="goals.newGoal.BpmHigh"></td>
      <td contentEditable ng-model="goals.newGoal.Aim"></td>
      <td ng-model="goals.newGoal.CountryId">{{goals.newGoal.CountryId}}</td>
      <td ng-model="goals.newGoal.Id">{{goals.newGoal.Id}}</td>
      <td><button ng-click="goals.save(goals.newGoal)" type="button" class="tiny round">Add new goal</button></td>
    </tr>
</table>
