<div class="row devices">
  <spinner class="spinner" name="devices" show="true"></spinner>
  <div class="large-14 medium-16 small-18 large-centered medium-centered columns">

    <div class="row heading">
      <a class="back" ui-sref="dashboard">{{'DASHBOARD' | translate}}</a>
      <div class="columns small-10 medium-12">
        <h1 ng-if="!vm.type">{{'DEVICES' | translate}}</h1>
        <h1 ng-if="vm.type === 'connected'">{{'DEVICES_CONNECTED_TITLE' | translate}}</h1>
        <h1 ng-if="vm.type === 'disconnected'">{{'DEVICES_DISCONNECTED' | translate}}</h1>
        <h1 ng-if="vm.type === 'syncerrors'">{{'DEVICES_PROBLEMATIC' | translate}}</h1>
      </div>
      <div class="columns small-8 medium-6 text-center">
        <button class="secondary" ui-sref="device-new">{{'DEVICE_NEW' | translate}}</button>
      </div>
    </div>

    <div class="row">
      <div class="small-18 medium-9 columns">
        <label>{{'SEARCH' | translate}}</label>
        <input ng-model="vm.query" type="text" placeholder="{{'DEVICES_SEARCH' | translate}}" maxlength="60" autofocus>
      </div>
      <div class="small-18 medium-9 columns">
        <label>{{'DEVICE_TYPE_FILTER' | translate}}</label>
        <select ng-model="vm.deviceType">
          <option value="" selected>{{'ALL' | translate}}</option>
          <option value="true">{{'PRIMARY' | translate}}</option>
          <option value="false">{{'SECONDARY' | translate}}</option>
        </select>
      </div>
    </div>

    <device-simple ng-show="vm.filterDevices(device)" ng-repeat="device in vm.devices | filter:vm.deviceFilter | orderBy:'Device.Gym.Name'"></device-simple>

  </div>
</div>
