<h1>Devices</h1>

<table>
  <thead>
    <tr>
      <td>Device name</td>
      <td>Last sync attempt</td>
      <td>Sync status</td>
      <td>Gym</td>
      <td>Provision Id</td>
      <td>Playlists</td>
      <td>Queued Playlists</td>
      <td>Device ID</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="device in devices.devices | orderBy:'Name'">
      <td contentEditable ng-change="devices.update(device)" ng-model-options="{updateOn : 'change blur'}" ng-model="device.Name"></td>
      <td>{{device.LastSyncAttempt}}</td>
      <td>{{device.SyncSuccess}}</td>
      <td>Gym ID: {{device.GymID}}</td>
      <td>{{device.DeviceProvisionId}}
      <td><a ui-sref="device-playlists({id:device.Id})">Playlists</a></td>
      <td><a ui-sref="device-playlists-queue({id:device.Id})">Queued Playlists</a></td>
      <td>{{device.Id}}</td>
    </tr>
  </tbody>
</table>