<div class="row device">
  <div class="large-9 columns">
    <label>{{device.Device.Name}} <span ng-if="device.Device.Primary">{{'PRIMARY' | translate}}</span></label> {{device.Device.Gym.Name}}
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="small-6 columns">
        <span class="connected" ng-if="device.Connected">{{'CONNECTED' | translate}}</span>
        <span class="warning" ng-if="device.Connected === false">{{'DISCONNECTED' | translate}}</span><br>
        <span ng-if="device.timeAgo">{{device.timeAgo | timeago}}</span>
      </div>
      <div class="small-6 columns">
        <span class="warning" ng-if="device.error">{{'DEVICE_SYNC_ERROR' | translate}}</span><br>
        <span ng-if="device.timeAgo">{{device.timeAgoError | timeago}}</span>
      </div>
      <div class="small-6 columns text-right">
        <!--<a ui-sref="device({id:device.Device.Id})">{{'DEVICE_VIEW' | translate}}</a>-->
      </div>
    </div>
  </div>
</div>
