<div class="row device">
  <div class="large-9 columns">
    {{device.Device.Gym.Name}}
    <label>{{device.Device.Name}}
      <span class="type" ng-if="device.Device.Primary">{{'PRIMARY' | translate}}</span>
      <span class="type" ng-if="!device.Device.Primary">{{'SECONDARY' | translate}}</span>
    </label>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="small-6 columns">
        <span class="connected" ng-if="device.Connected">{{'CONNECTED' | translate}}</span>
        <span class="warning" ng-if="device.Connected === false">{{'DISCONNECTED' | translate}}</span><br>
        {{device.timeAgo | timeago}}
      </div>
      <div class="small-6 columns">
        <span class="warning" ng-if="device.error">{{'DEVICE_SYNC_ERROR' | translate}}</span><br>
        {{device.timeAgoError | timeago}}
      </div>
      <div class="small-6 columns text-right">
        <a ui-sref="device({id:device.Device.Id})">{{'DEVICE_VIEW' | translate}}</a>
      </div>
    </div>
  </div>
</div>
