<div class="edit-playlist">
  <playlist-workflow></playlist-workflow>
  <div class="row">
    <div class="large-9 columns">
      <div class="large-2 columns">
        &nbsp;
      </div>
      <div class="large-14 columns">
        <form id="playlistForm" ng-submit="playlist_edit.savePlaylist()">
          <input required name="class_name" class="class_name" type="text" placeholder="{{'CLASS_GIVE_NAME' | translate}}..." ng-model="playlist_edit.playlist.Name">
        </form>
      </div>
      <div class="large-2 columns">
        &nbsp;
      </div>
    </div>
    <div class="large-9 columns">
      &nbsp;
    </div>
  </div>
  <div class="row playlist-container">
    <div class="small-9 columns goals-container">
      <div class="row goal-name">
        <div class="small-18 columns ride-type">
          <div class="row chunk">
            <div class="small-2 columns">
              &nbsp;
            </div>
            <div class="small-13 columns">
              <span ng-bind-html="playlist_edit.playlist.TemplateName"></span>: {{playlist_edit.playlist.ClassLengthMinutes}}:00
            </div>
            <div class="small-2 columns text-right">
              <span class="length">{{playlist_edit.playlistTracksLength | minutes}}</span>
            </div>
            <div class="small-1 columns">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="row goal" data-ng-repeat="playlistGoal in playlist_edit.playlist.PlaylistGoals | orderBy:'SortOrder'">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="small-15 columns goal-container" ng-class="{'active': playlist_edit.isGoalActive(playlistGoal)}">
          <div class="row goal-name" ng-click="playlist_edit.goalClicked(playlistGoal)">
            <div class="small-12 columns">
              <h4>{{playlistGoal.Goal.Name}}</h4>
            </div>
            <div class="small-6 columns bpm">
              {{playlistGoal.Goal.BpmLow}} - {{playlistGoal.Goal.BpmHigh}} {{'BPM' | translate}}
            </div>
          </div>
          <div class="row">
            <div class="bin" ng-class="{'dropped' : playlist_edit.playlist.PlaylistGoals[playlistGoal.ArrayId].PlaylistGoalTracks.length > 0}" id="bin{{playlistGoal.ArrayId}}" ng-show="playlistGoal.show" droppable>
              <div class="empty-text">{{'DRAG_DROP_TRACK' | translate}}</div>
              <div class="row track dropped" id="playlist{{playlistGoal.Id}}{{track.Track.MusicProviderTrackId}}" data-ng-repeat="track in playlistGoal.PlaylistGoalTracks">
                <div class="small-1 columns play" id="track{{track.Track.MusicProviderTrackId}}" ng-click="playlist_edit.playTrack(track.Track);" ng-class="{'playing': track.Track.playing}">
                  <a href="#">{{'PLAY' | translate}}</a>
                </div>
                <div class="small-13 columns">
                  <span class="track-name">{{track.Track.Name}}</span> <span class="artist">{{track.Track.Artist}}</span> | <span class="bpm">{{track.Track.Bpm}} {{'BPM' | translate}}</span>
                </div>
                <div class="small-2 columns time">
                  {{track.Track.DurationSeconds | minutes}}
                </div>
                <div class="small-1 columns remove" ng-click="playlist_edit.removeTrack(playlistGoal.ArrayId, track)">
                  -
                </div>
              </div>
            </div>
          </div>
          <div class="row goal-meta" ng-click="goal.show = !playlistGoal.show" ng-show="playlistGoal.show">
            <ul class="large-block-grid-2">
              <li ng-repeat="goaloption in playlist_edit.playlist.PlaylistGoals[playlistGoal.ArrayId].Goal.GoalOptions">
                <goal_option data-goaloptiondata="{{goaloption}}" data-bpm="{{playlistGoal.PlaylistGoalTracks[0].Track.Bpm}}"></goal_option>
              </li>
            </ul>
            <div class="row notes">
              {{'TRACK_NOTES' | translate}}
              <form name="playlistGoalNote{{playlistGoal.ArrayId}}">
                <textarea name="note" ng-maxlength="20" ng-model="playlist_edit.playlist.PlaylistGoals[playlistGoal.ArrayId].PlaylistGoalNotes[0].NoteText"></textarea>
                <span class="error" ng-show="playlistGoalNote{{playlistGoal.ArrayId}}.note.$error.maxlength">
                  Reached limit!
                </span>
                <span class="maxlength">Max 200 characters</span>
              </form>
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="large-15 columns">
          <button type="submit" form="playlistForm" class="round">Save playlist</button>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="small-9 columns tracks">
      <div class="row chunk">
        &nbsp;
      </div>
      <div class="row">
        <div class="small-1 columns">
          &nbsp;
        </div>
        <div class="small-16 columns">
          <div class="row">
            <h3>{{'CHOOSE_TRACK' | translate}} <span id="track-name">'Warm Up'</span></h3>
            <div class="row showing">
              <div class="small-14 columns">
                {{'SHOWING' | translate}}: 80 - 90 {{'BPM' | translate}} {{'TRACKS' | translate}}
              </div>
              <div class="small-4 columns">
                {{'ADD_FILTER' | translate}}
              </div>
            </div>
          </div>
          <div class="row search">
            <form ng-submit="playlist_edit.trackSearch()">
              <input ng-model="playlist_edit.search" name="tracks" type="text" placeholder="{{'SEARCH' | translate}}">
            </form>
          </div>
          <div class="row track" draggable id="track{{track.MusicProviderTrackId}}" data-ng-repeat="track in playlist_edit.tracks">
            <div class="small-1 columns play" ng-click="playlist_edit.playTrack(track);" ng-class="{'playing': track.playing}">
              <a href="#">{{'PLAY' | translate}}</a>
            </div>
            <div class="small-9 columns">
              <span class="track-name">{{track.Name}}</span>
              <span class="artist">{{track.Artist}}</span>
            </div>
            <div class="small-3 columns genre">
              &nbsp;{{track.Genre.Name}}
            </div>
            <div class="small-2 columns bpm">
              {{track.Bpm}} {{'BPM' | translate}}
            </div>
            <div class="small-2 columns time">
              {{track.DurationSeconds | minutes}}
            </div>
            <div class="small-1 columns add">
              <a ng-click="playlist_edit.addTrack(track)">+</a>
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
