<div ui-view></div>

<div class="playlist-edit row">
  <playlist-workflow ng-if="playlist_edit.newPlaylist"></playlist-workflow>
  <h1 class="text-center">{{playlist_edit.title | translate}}</h1>

  <spinner class="spinner overlay" name="playlistEditSpinner" show="true"></spinner>

    <form name="playlistForm" ng-submit="playlist_edit.savePlaylist()" novalidate>

    <div class="small-18 medium-18 medium-centered large-centered columns goals-container">
      <div class="row">
        <div ng-messages="playlist_edit.required">
          <p class="error" ng-message="error">{{'RIDE_NAME_REQ' | translate}}</p>
        </div>
        <div ng-messages="playlist_edit.error">
          <p class="error" ng-message="effortRanges">{{'EFFORTS_REQ' | translate}}</p>
        </div>
        <input id="class_name" name="class_name" class="class_name" ng-class="{'error': playlist_edit.playlist.Name.length > 40}" type="text" placeholder="{{'CLASS_GIVE_NAME' | translate}}" ng-model="playlist_edit.playlist.Name" required ng-focus="focus=true" ng-blur="focus=false" />
        <span class="right small">&nbsp;<span ng-show="focus && playlist_edit.playlist.Name" ng-class="{'red': playlist_edit.playlist.Name.length > 40}">{{playlist_edit.playlist.Name.length}}/40</span></span>
      </div>
      <div class="row goal-name ride-type" sticky-header>
        <div>
          <div class="icon"><img src="/img/playlists/{{playlist_edit.playlist.TemplateIconFileName}}"></div>
          <h2 ng-bind-html="playlist_edit.playlist.TemplateName"></h2> {{playlist_edit.playlist.ClassLengthMinutes}}:00
          <span class="length" ng-class="{'error': !playlist_edit.checkPlaylistLength() && playlist_edit.checkAllGoalsHaveTracks()}"><span class="box">{{playlist_edit.playlistTracksLength | minutes}}</span></span>
          <p class="error" ng-if="!playlist_edit.checkPlaylistLength() && playlist_edit.checkAllGoalsHaveTracks()" translate="CLASS_LENGTH_ERROR" translate-values="{minutes: playlist_edit.playlist.ClassLengthMinutes}"></p>
          <p class="error" ng-if="!playlist_edit.checkWhenEditingEveryGoalHasATrack()">{{'GOAL_TRACK_REQ' | translate}}</p>
        </div>
      </div>
      <div class="row goal" data-ng-repeat="playlistGoal in playlist_edit.playlist.PlaylistGoals | orderBy:'SortOrder' track by $index">
        <div class="goal-container" ng-class="{'active': playlist_edit.isGoalActive(playlistGoal)}">
          <div class="row goal-name" ng-click="playlist_edit.goalClicked(playlistGoal)">
            <div class="small-10 columns">
              <h4 ng-class="{'has-track' : playlistGoal.PlaylistGoalTracks.length > 0}">
                <img ng-class="{'freestyle' : playlist_edit.playlist.TemplateName === 'Freestyle'}" ng-if="playlistGoal.Goal.GoalChallengeId" src="/img/playlists/pack_highlight.svg">

                <span ng-if="playlist_edit.playlist.TemplateName !== 'Freestyle'">
                  {{playlistGoal.Goal.Name}}
                </span>

                <span ng-if="playlist_edit.playlist.TemplateName === 'Freestyle'">
                  <span ng-if="playlistGoal.ArrayId == 0">
                    {{playlistGoal.Goal.Name}}
                  </span>
                  <freestyle-goals ng-if="playlistGoal.ArrayId > 0" data-index="{{playlistGoal.ArrayId}}" data-total-goals="{{playlist_edit.playlist.MaxFreestyleGoals}}" data-selected-goal-id="{{playlistGoal.Goal.Id}}" ng-change="playlist_edit.changeFreestyleGoal(playlistGoal)" ng-model="playlist_edit.freestyleGoal" ng-click="playlistGoal.editFreeStyleGoal = true"></freestyle-goals>
                </span>

                <em ng-if="playlistGoal.Goal.GoalChallengeId">{{'CHALLENGE' | translate}}</em>
              </h4>
            </div>
            <div class="small-8 columns text-right">
              <a ng-show="playlistGoal.PlaylistGoalTracks.length === 0" ng-click="playlistGoal.editFreeStyleGoal = false">+ {{'ADD_SONG' | translate}}</a>
            </div>
          </div>
          <div class="row" ng-show="playlistGoal.PlaylistGoalTracks.length > 0">
            <div class="bin" ng-class="{'dropped' : playlistGoal.PlaylistGoalTracks.length > 0}" id="bin{{playlistGoal.ArrayId}}">
              <span data-ng-repeat="track in playlistGoal.PlaylistGoalTracks">
              <div class="row track dropped" id="playlist{{playlistGoal.Id}}{{track.Track.MusicProviderTrackId}}">
                <div class="small-1 columns play-container" id="track{{track.Track.MusicProviderTrackId}}" ng-click="playlist_edit.playTrack(track.Track);">
                  <div class="spinner1" ng-class="{'play': !track.Track.playing && !track.Track.loading, 'loading': track.Track.loading, 'playing': track.Track.playing}">
                    <div class="arrow-right"></div>
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                  </div>
                </div>
                <div class="small-16 medium-12 columns" ng-class="{'long-name' : track.Track.Name.length + track.Track.Artist.length > 50}">
                  <span class="track-name">{{track.Track.Name | limitTo : 25}}<span ng-if="track.Track.Name.length > 25">&hellip;</span></span> <span class="artist">{{track.Track.Artist | limitTo : 25}}<span ng-if="track.Track.Artist.length > 25">&hellip;</span></span> | <span class="bpm">{{track.Track.Bpm}} {{'BPM' | translate}}</span>
                </div>
                <div class="small-9 medium-3 columns time text-center">
                  <span class="position" ng-show="track.Track.currentTime >= 0 && track.Track.playing === true">{{track.Track.currentTime | minutes}}</span> {{track.Track.DurationSeconds | minutes}}
                </div>
                <div class="small-9 medium-1 columns remove" ng-click="playlist_edit.removeTrack(playlistGoal.ArrayId, track)"> - </div>
              </div>
              <div class="row track-progress" ng-show="track.Track.playing || track.Track.paused">
                <track-progress data-progress="{{track.Track.progress}}" data-duration="{{track.Track.DurationSeconds}}"></track-progress>
              </div>
              </span>
            </div>
          </div>
          <div class="row goal-meta" ng-click="goal.show = !playlistGoal.show" ng-show="playlistGoal.show && playlistGoal.PlaylistGoalTracks.length > 0">
            <ul class="large-block-grid-2">
              <li ng-repeat="goaloption in playlistGoal.Goal.GoalOptions">
                <goal_option data-freestyle="{{playlist_edit.freestyleTemplate}}" data-effort="goaloption.Effort" data-efforthigh="goaloption.EffortHigh" data-bpm="{{playlistGoal.PlaylistGoalTracks[0].Track.Bpm}}" data-customrpm="{{playlist_edit.playlist.IsCustomRpm}}" data-rpmlow="goaloption.RpmLow" data-rpmhigh="goaloption.RpmHigh" data-total-goaloptions="{{playlistGoal.Goal.GoalOptions.length}}"></goal_option>
              </li>
            </ul>
            <div class="row notes">
              {{'TRACK_NOTES' | translate}}
              <textarea limit-enters name="note" rows="4" maxlength="200" ng-maxlength="200" ng-change="playlist_edit.playlistGoalNoteCreate(playlistGoal.ArrayId, 0)" ng-model-options="{updateOn : 'change blur'}" ng-model="playlistGoal.PlaylistGoalNotes[0].NoteText"></textarea>
              <span class="maxlength">{{'NOTE_MAX' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="playlist_edit.playlist.TemplateName === 'Freestyle'">
        <spinner class="spinner" name="playlistFreestyleSpinner"></spinner>
        <freestyle-goals data-disabled="{{$index > 0}}" data-index="{{$index}}" data-total-goals="{{playlist_edit.freestyleGoals.length}}" ng-show="goal.show" ng-repeat="goal in playlist_edit.freestyleGoals" ng-change="playlist_edit.addFreestyleGoal(goal)" ng-model="playlist_edit.freestyleGoal"></freestyle-goals>
      </div>
      <div class="row">
        <background-music ng-model="playlist_edit.playlist.BackgroundTracks"></background-music>
      </div>
      <div class="row submit">
        <div ng-messages="playlist_edit.error">
          <p class="error" ng-message="error">{{'RIDE_ERROR' | translate}}</p>
          <p class="error" ng-message="nameError">{{'RIDE_NAME_EXISTS' | translate}}</p>
        </div>
        <a class="cancel" ui-sref="dashboard">{{'CANCEL' | translate}}</a>
        <spinner class="spinner" name="playlistEditSaveSpinner" show="false"></spinner>
        <input name="submit" ng-disabled="playlist_edit.saving" ng-show="playlist_edit.checkWhenEditingEveryGoalHasATrack()" type="submit" value="{{playlist_edit.submitButtonText() | translate}}">
      </div>
    </div>
    </form>
</div>
