<div class="row">
  <div class="large-12 medium-18 small-18 large-centered columns">
    <div class="row heading">
      <a class="back" ui-sref="devices-admin">{{'DEVICES' | translate}}</a>
      <h1>{{'DEVICE_NEW' | translate}}</h1>
    </div>

    <form ng-show="!vm.provisioningCode" name="vm.form" ng-submit="vm.form.$valid && vm.provisionNewDevice()" novalidate>
      <label>{{'SELECT_CLUB' | translate}}</label>

      <label class="radio" ng-repeat="gym in vm.gyms | orderBy: 'Name'">
        <input type="radio" name="gym" ng-model="vm.selectedGym" ng-value="gym" ng-change="vm.gymSelected()" required> {{gym.Name}}
      </label>
      <div ng-show="vm.form.$submitted || vm.form.gym.$touched">
        <small class="error" ng-show="vm.form.gym.$error.required">{{'DEVICE_SELECT_CLUB_REQ' | translate}}</small>
      </div>

      <spinner class="spinner inline" name="gymDevices" show="false"></spinner>
      <div class="row" ng-show="vm.devices.data.length > 0">
        <label>{{'DEVICES_FOR_CLUB' | translate}}:</label>
        <ul>
          <li ng-repeat="device in vm.devices.data | orderBy:'Name'">{{device.Name}}
            <em ng-if="device.Primary">{{'PRIMARY' | translate}}</em>
            <em ng-if="!device.Primary">{{'SECONDARY' | translate}}</em>
          </li>
        </ul>
      </div>

      <div ng-show="vm.devicesLoaded">
        <label for="deviceName">{{'DEVICE_NAME' | translate}}</label>
        {{'DEVICE_NAME_EXPLANATION' | translate}}

        <input name="deviceName" type="text" size="40" ng-model="vm.deviceName" maxlength="60" required>
        <div ng-show="vm.form.$submitted || vm.form.deviceName.$touched">
          <small class="error" ng-show="vm.form.deviceName.$error.required">{{'DEVICE_NAME_REQ' | translate}}</small>
        </div>

        <label>
          <input type="checkbox" ng-model="vm.isPrimary"> {{'DEVICE_MAKE_PRIMARY' | translate}}
        </label>
      </div>

      <alert ng-show="vm.isPrimary && vm.devices.HasPrimary" class="warning">{{'DEVICE_CLUB_PRIMARY_SECONDARY' | translate}}</alert>

      <div class="row submit">
        <input class="submit" ng-disabled="vm.saving || vm.form.$invalid" type="submit" value="{{'DEVICE_GEN_CODE' | translate}}">
        <spinner class="spinner center" name="deviceNewSpinner" show="false"></spinner>
      </div>
    </form>

    <div ng-show="vm.provisioningCode" class="row">
      <div class="small-2 medium-2 large-1 columns">
          <img ng-if="vm.alert.type === 'success'" src="/img/ico40grn_syncsuccess.svg">
          <img ng-if="vm.alert.type === 'warning'" src="/img/ico40orng_syncerror.svg">
      </div>
      <div class="small-16 medium-16 large-17 columns">
        <span ng-if="vm.alert.type === 'success'">
        <p class="success">{{vm.alert.msg | translate}} {{vm.selectedGym.Name}} {{vm.deviceName}}</p>

        <p>
          <ol class="inline-list provisioning-code">
            <li ng-repeat="code in vm.provisioningCode track by $index">{{code}}</li>
          </ol>
        </p>
        <p>
          <label>{{'TIPS' | translate}}</label>
          <ol>
            <li>{{'CODE_ONCE' | translate}}</li>
            <li>{{'DEVICE_INTERNET' | translate}}</li>
          </ol>
        </p>
        </span>

        <p ng-if="vm.alert.type === 'warning'" class="warning">{{vm.alert.msg | translate}}</p>
        <div class="submit">
          <a class="cancel" ui-sref="devices-admin">{{'DEVICE_DASHBOARD_RETURN' | translate}}</a>
          <button class="secondary submit" ng-click="vm.provisionAnother()">
            <span ng-if="vm.alert.type === 'success'">{{'DEVICE_PROVISION_ANOTHER' | translate}}</span>
            <span ng-if="vm.alert.type === 'warning'">{{'TRY_AGAIN' | translate}}</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>