<h5 ng-if="isCustomRpm() === 'false' && totalGoaloptions > 1">{{goaloption.Name}}</h5>

<div ng-if="isCustomRpm() === 'false'">
  <div class="beat" translate="{{beat}}"></div>
  <div>{{'LEG_SPEED' | translate}} <em>{{rpm}} {{'RPM' | translate}}</em></div>
</div>

<hr ng-if="goaloption.Name" />

<div ng-if="isCustomRpm() === 'true'">
  RPM <em>{{rpmlow}} - {{rpmhigh}}</em>
</div>

<div>
  Effort <em><span ng-show="!freestyle">{{goaloption.effortrange}}%</span></em>

  <span ng-show="freestyle">
  <select ng-options="v for v in effortOptions" ng-model="effort">
  </select>
  -
  <select ng-options="v for v in effortOptions" ng-model="efforthigh">
  </select>%
</span>
</div>
