<div class="gym-rides">
  <h3>{{name}}</h3>

<!--
  <ul>
    <li class="syncing" ng-repeat="playlist in vm.playlists">
      <div class="row">
        <div class="large-12 columns">
          {{playlist.Name}}</div>
        <!--<div class="large-6 columns text-right remove"> <a>Remove</a>&nbsp;</div>-->
        <!--<div class="large-6 columns text-right time">25 mins remaining</div>
      </div>
    </li>
  </ul>
-->


  <ul>
    <!--
    <li class="syncing" ng-repeat="playlist in vm.playlists">
      {{playlist.Name}}
        <span class="right time">25 mins remaining&nbsp;</span>
        span class="right remove"><a>Remove</a>&nbsp;</span>
      </div>
    </li>
    -->
    <li class="syncing">
        <span class="icon"></span><span class="name">Dane's playlist</span>
        <span class="right time">25 mins remaining</span>
    </li>
    <li class="">
      <span class="icon"></span><span class="name">Lara's playlist</span>
        <span class="right remove"><a>Remove</a></span>
    </li>
    <li class="removed">
      <span class="icon"></span><span class="name">Zenziles's playlist</span>
      <span class="right remove"><a>Undo</a></span>
    </li>
  </ul>

</div>
