<div class="gym-rides">
  <h3>{{gym.Gym.Name}}</h3>

  <ul>
    <li ng-class="{'syncing' : !playlist.DevicePlaylistSyncs[0].SyncSuccess, 'removed' : playlist.removed}" ng-repeat="playlist in gym.PlaylistSyncInfos | orderBy:'Playlist.Name'">
      <span class="icon"></span><span class="name">{{playlist.Playlist.Name}}</span>
      <span class="right time" ng-if="!playlist.DevicePlaylistSyncs[0].SyncSuccess">{{playlist.DevicePlaylistSyncs[0].SecondsLeft | hours}} mins remaining</span>
      <span class="right remove" ng-if="playlist.DevicePlaylistSyncs[0].SyncSuccess">
        <a ng-if="!playlist.removed" ng-click="vm.remove(playlist, gym.Gym.Id)">Remove</a>
        <a ng-if="playlist.removed" ng-click="vm.undoRemove(playlist, gym.Gym.Id)">Undo</a>
      </span>
    </li>
  </ul>

</div>
