<div class="gym-rides">
  <h3>{{gym.Gym.Name}}</h3>

  <ul>
    <li ng-class="{'syncing' : playlist.SyncStarted, 'removed' : playlist.removed}" ng-repeat="playlist in gym.DevicePlaylistSyncs | orderBy:'Playlist.Name'">
      <!--{{playlist.PercentDone}} {{playlist.SecondsLeft}} {{playlist.SyncError}} {{playlist.SyncStarted}} {{playlist.SyncSuccess}} -->
      <span class="icon"></span><span class="name">{{playlist.Playlist.Name}}</span>
      <span class="right time" ng-if="playlist.SyncStarted">{{playlist.SecondsLeft | hours}} mins remaining</span>
      <span class="right remove" ng-if="!playlist.SyncStarted">
        <a ng-if="!playlist.removed" ng-click="vm.remove(playlist)">Remove</a>
        <a ng-if="playlist.removed" ng-click="vm.undoRemove(playlist)">Undo</a>
      </span>
    </li>
    <!--
    <li class="removed">
      <span class="icon"></span><span class="name">Zenziles's test playlist</span>
      <span class="right remove"><a>Undo</a></span>
    </li>
    -->
  </ul>

</div>
