<div class="row top">
  <div class="large-14 large-centered medium-18 medium-centered small-18 small-centered columns">
    <ol class="inline-list workflow">
      <li ng-class="vm.steps[0].completed ? 'completed' : 'upcoming'"><span>1</span><div translate="PLAYLIST_1"></div></li>
      <li ng-class="vm.steps[1].completed ? 'completed' : 'upcoming'"><span>2</span><div translate="PLAYLIST_2"></div></li>
      <li ng-class="vm.steps[2].completed ? 'completed' : 'upcoming'"><span>3</span><div translate="PLAYLIST_3"></div></li>
      <li ng-class="vm.steps[3].completed ? 'completed' : 'upcoming'"><span>4</span><div translate="PLAYLIST_4"></div></li>
      <li ng-class="vm.steps[4].completed ? 'completed' : 'upcoming'"><span>5</span><div translate="PLAYLIST_5"></div></li>
    </ol>
  </div>
</div>
