<div class="row top">
  <div class="large-12 large-centered small-18 small-centered columns">
    <ol class="inline-list workflow">
      <li ng-class="vm.steps[0].completed ? 'completed' : 'upcoming'"><span>1</span><a translate="PLAYLIST_1"></a></li>
      <li ng-class="vm.steps[1].completed ? 'completed' : 'upcoming'"><span>2</span><a translate="PLAYLIST_2"></a></li>
      <li ng-class="vm.steps[2].completed ? 'completed' : 'upcoming'"><span>3</span><a translate="PLAYLIST_3"></a></li>
      <li ng-class="vm.steps[3].completed ? 'completed' : 'upcoming'"><span>4</span><a translate="PLAYLIST_4"></a></li>
    </ol>
  </div>
</div>
