<div class="row top">
  <div class="large-1 columns">
    &nbsp;
  </div>
  <div class="large-5 columns">
    <a>&lt; {{'BACK' | translate}}</a>
  </div>
  <div class="large-12 columns">
    <ol class="inline-list workflow">
      <li ng-class="vm.steps[0].completed ? 'completed' : 'upcoming'"><span>1</span><a>{{'PLAYLIST_TEMPLATE' | translate}}</a></li>
      <li ng-class="vm.steps[1].completed ? 'completed' : 'upcoming'"><span>2</span><a>{{'PLAYLIST_TIME' | translate}}</a></li>
      <li ng-class="vm.steps[2].completed ? 'completed' : 'upcoming'"><span>3</span><a>{{'PLAYLIST_CREATE' | translate}}</a></li>
      <li ng-class="vm.steps[3].completed ? 'completed' : 'upcoming'"><span>4</span><a>{{'PLAYLIST_REVIEW' | translate}}</a></li>
    </ol>
  </div>
</div>
