<div class="create-playlist">
  <div class="row top">
    <div class="large-1 columns">
      &nbsp;
    </div>
    <div class="large-5 columns">
      <a href="#">&lt; Back</a>
    </div>
    <div class="large-12 columns">
      <ol class="inline-list workflow">
        <li class="completed"><span>1</span><a href="#">Ride template</a></li>
        <li class="completed"><span>2</span><a href="#">Create playlist</a></li>
        <li class="upcoming"><span>3</span><a href="#">Review</a></li>
        <li class="upcoming"><span>4</span><a href="#">Publish to device</a></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <div class="large-2 columns">
        &nbsp;
      </div>
      <div class="large-14 columns">
        <input name="class_name" class="class_name" type="text" placeholder="Give your class a name...">
      </div>
      <div class="large-2 columns">
        &nbsp;
      </div>
    </div>
    <div class="large-9 columns">
      &nbsp;
    </div>
  </div>

  <div class="row playlist-container">
    <div class="small-9 columns">
      <div class="row name">
        <div class="small-18 columns ride-type">
          <div class="row chunk">
            <div class="small-2 columns">
              &nbsp;
            </div>
            <div class="small-14 columns">
              <h3>{{ name }}</h3>
            </div>
            <div class="small-2 columns">
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div class="row goal" ng-repeat="goal in goals">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="small-14 columns">
          <div class="row">
            <div class="small-14 columns">
              <div class="name">{{ $index + 1 }}. {{ goal.goal }}</div>
            </div>
            <div class="small-4 columns bpm">
              {{ goal.bpm_low }} - {{ goal.bpm_high }} bpm
            </div>
          </div>
          <div class="row">
            <div class="small-14 columns">
              Leg speed: {{ goal.rpm_low }} - {{ goal.rpm_high }} RPM
            </div>
            <div class="small-4 columns bpm">
              <a href="#">+ Add more notes</a>
            </div>
          </div>
        </div>
        <div class="small-2 columns">
          &nbsp;
        </div>
      </div>

    </div>
    <div class="small-9 columns songs">
      <div class="row chunk">
        &nbsp;
      </div>

      <div class="row">
        <div class="small-1 columns">
          &nbsp;
        </div>
        <div class="small-16 columns">
          <h3>Choose a song for <span id="song-name">'Warm Up'</span></h3>

          <div class="row showing">
            <div class="small-14 columns">
              Showing: 80 - 90 BPM songs
            </div>
            <div class="small-4 columns">
              Add filter
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="small-14 columns search">
          <input name="songs" type="text" placeholder="Search">
        </div>
        <div class="small-2 columns">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="small-1 columns">
          &nbsp;
        </div>
        <div class="small-16 columns">
          <div class="row song" data-ng-repeat="song in songs">
            <div class="small-1 columns">
              Play
            </div>
            <div class="small-9 columns">
              <span class="name">{{song.name}}</span><br>
              <span class="artist">{{song.artist}}</span>
            </div>
            <div class="small-3 columns genre">
              {{song.genre}}
            </div>
            <div class="small-2 columns bpm">
              {{song.bpm}} bpm
            </div>
            <div class="small-2 columns time">
              {{song.time}}
            </div>
            <div class="small-1 columns add">
              <a href="#">+</a>
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>