<div class="create-playlist">
  <div class="row">
    <div class="small-6 columns">
      <a href="#">&lt; Back</a>
    </div>
    <div class="small-12 columns">
      <ul class="inline-list">
        <li><a href="#">Ride template</a></li>
        <li><a href="#">Create playlist</a></li>
        <li><a href="#">Review</a></li>
        <li><a href="#">Publish to device</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-9 columns">
      <div class="small-2 columns">
        &nbsp;
      </div>
      <div class="small-14 columns">
        Give your class a name
      </div>
      <div class="small-2 columns">
        &nbsp;
      </div>
    </div>
    <div class="small-9 columns">
      &nbsp;
    </div>
  </div>

  <div class="row">
    <div class="small-9 columns">
      <div class="row">
        <div class="small-18 columns ride-type">
          <div class="row chunk">
            <div class="small-2 columns">
              &nbsp;
            </div>
            <div class="small-14 columns">
              <h3>All Terrain</h3>
            </div>
            <div class="small-2 columns">
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div class="row ride" ng-repeat="goal in goals">
        <div class="small-2 columns">
          &nbsp;
        </div>
        <div class="small-14 columns">
          <div class="row">
            <div class="small-14 columns">
              {{ $index + 1 }}. {{ goal.goal }}
            </div>
            <div class="small-4 columns bpm">
              {{ goal.bpm_low }} - {{ goal.bpm_high }} bpm
            </div>
          </div>
          <div class="row">
            <div class="small-14 columns">
              Leg speed: {{ goal.bpm_low }} - {{ goal.bpm_high }} BPM
            </div>
            <div class="small-4 columns bpm">
              <a href="#">+ Add more notes</a>
            </div>
          </div>
        </div>
        <div class="small-2 columns">
          &nbsp;
        </div>
      </div>

    </div>
    <div class="small-9 columns songs">
      <div class="row chunk">
        &nbsp;
      </div>
      <div class="row">
        <div class="small-1 columns">
          &nbsp;
        </div>
        <div class="small-16 columns">
          <h3>Choose a song for <span id="song-name">'Warm Up'</span></h3>

          <div class="row showing">
            <div class="small-14 columns">
              Showing: 80 - 90 BPM songs
            </div>
            <div class="small-4 columns">
              Add filter
            </div>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>