<div class="row" ng-show="vm.numTracks() > 0">
  <div class="bin" ng-class="{'dropped' : vm.numTracks() > 0}" id="bin{{vm.binId()}}">
    <div class="row track dropped" id="playlist{{playlistGoal.Id}}{{track.Track.MusicProviderTrackId}}" ng-repeat="track in ngModel | orderBy: track.SortOrder" ng-show="vm.showTrack(track)">
      <div class="large-1 small-1 columns" id="track{{track.Track.MusicProviderTrackId}}" ng-click="vm.playTrack(track.Track);">
        <div class="spinner1" ng-class="{'play': !track.Track.playing && !track.Track.loading, 'loading': track.Track.loading, 'playing': track.Track.playing}">
          <div class="arrow-right"></div>
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
        </div>
      </div>
      <div class="large-11 small-11 columns">
        <span class="track-name">{{track.Track.Name | limitTo : 80}}<span ng-if="track.Track.Name.length > 80">&hellip;</span></span> <span class="artist">{{track.Track.Artist}}</span> | <span class="bpm">{{track.Track.Bpm}} {{'BPM' | translate}}</span>
      </div>
      <div class="large-4 columns time text-center">
        <span class="position" ng-show="track.Track.currentTime >= 0">{{track.Track.currentTime | minutes}}</span> {{track.Track.DurationSeconds | minutes}}
      </div>
      <div class="large-1 columns remove" ng-click="vm.removeTrack(track)"> - </div>
    </div>
  </div>
</div>
