<accordion-group is-open="isopen">
  <accordion-heading>
    <div class="row">
      <div class="small-9 columns">
        {{vm.user.FirstName}} {{vm.user.LastName}}
      </div>
      <div class="small-3 columns">
        <span ng-hide="user.Archived"><label>{{'STATUS' | translate}}:</label> {{vm.user.Type}}</span>
      </div>
      <div class="small-6 columns text-right">
        <span ng-show="user.Enabled">{{'MANAGE_ACCOUNT' | translate}}</span>
        <span ng-hide="user.Enabled">{{'DISABLED_ACCOUNT' | translate}}</span>
        <i class="right" ng-class="{'chevron-down': isopen, 'chevron-right': !isopen}"></i>
      </div>
    </div>
  </accordion-heading>

  <div class="row">
    <div class="large-9 columns">
      <div class="row">
        <div class="small-6 columns">
          <label>{{'EMPLOYEE_ID' | translate}}</label>
        </div>
        <div class="small-12 columns">
          {{vm.user.EmployeeId}}
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <label>{{'EMAIL' | translate}}</label>
        </div>
        <div class="small-12 columns">
          {{vm.user.Email}}
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <label>{{'PHONE' | translate}}</label>
        </div>
        <div class="small-12 columns">
          {{vm.user.Telephone}}
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <label>{{'USER_TYPE' | translate}}</label>
        </div>
        <div class="small-12 columns">
          <ul>
            <li ng-repeat="type in vm.user.UserUserTypes">{{type.UserType.Name}}</li>
          </ul>
        </div>
      </div>

        <button class="edit" ui-sref="users({id:vm.user.Id})">{{'EDIT_USER_PROFILE' | translate}}</button>
    </div>

    <div class="large-9 columns">
      <div class="text-right">
        <a ng-if-permission="editAdmin" ng-click="vm.sendInvite(vm.user.Id)">{{'RE_INVITE' | translate}}</a>
        <button class="secondary" ng-show="user.Enabled" ng-click="vm.disable(user)">{{'DISABLE_ACCOUNT' | translate}}</button>
        <button class="secondary" ng-hide="user.Enabled" ng-click="vm.enable(user)">{{'ENABLE_ACCOUNT' | translate}}</button>
      </div>
      <alert ng-show="vm.user.archiveMessage" type="vm.user.archiveMessage.type" close="vm.user.archiveMessage = undefined">{{vm.user.archiveMessage.msg | translate}} <a ng-show="vm.user.archiveMessage.undo" ng-click="vm.enable(user)">{{'UNDO' | translate}}</a></alert>
    </div>
  </div>

</accordion-group>