<div id="login" class="row">

  <h1 class="site-heading" ng-show="login.step === 'forgot'">{{'OB_TITLE_APP' | translate}}</h1>

  <div class="small-17 small-centered medium-12 medium-centered large-8 large-centered columns">
    <span class="container" ng-show="login.step === 'login'">

    <h1><span class="welcome">{{'OB_WELCOME_ONLY' | translate}}</span><br>{{'OB_TITLE_APP' | translate}}</h1>

    <form name="form" novalidate ng-submit="login.login()">
      <div ng-messages="login.error">
        <p class="error" ng-message="error">{{'LOGIN_ERROR' | translate}}</p>
      </div>

      <label for="username">{{'EMAIL' | translate}}</label>
      <input type="text" name="username" ng-model="login.credentials.username" maxlength="60" required />
      <div ng-show="form.$submitted || form.username.$touched">
        <small class="error" ng-show="form.username.$error.required">{{'EMAIL_REQ' | translate}}</small>
      </div>

      <label for="password">{{'PASSWORD' | translate}}</label>
      <input type="password" name="password" ng-model="login.credentials.password" maxlength="60" required />
      <div ng-show="form.$submitted || form.password.$touched">
        <small class="error" ng-show="form.password.$error.required">{{'PASSWORD_REQ' | translate}}</small>
      </div>

      <div class="row submit">
        <a class="secondary" ng-click="login.step = 'forgot'">{{'PASSWORD_FORGOT' | translate}}</a>
        <input id="log-in" ng-disabled="!login.credentials.username || !login.credentials.password || login.submitted" type="submit" value="{{'LOGIN' | translate}}" />
      </div>
    </form>
    </span>

    <div class="container dark-block" ng-show="login.step === 'forgot'">
      <h2>{{'FORGOT_PASSWORD' | translate}}</h2>

      <p>{{'EMAIL_PASSWORD_LINK' | translate}}</p>

      <form name="forgotForm" novalidate ng-submit="login.forgotPassword()">
          <label for="username">{{'EMAIL' | translate}}</label>
          <input type="text" name="username" ng-model="login.credentials.username" maxlength="60" required />
          <div ng-show="forgotForm.$submitted || forgotForm.username.$touched">
            <small class="error" ng-show="forgotForm.username.$error.required">{{'EMAIL_REQ' | translate}}</small>
            <small class="error" ng-show="login.emailNotFoundError">{{'EMAIL_UNRECOGNISED' | translate}}</small>
            <small class="error" ng-show="login.forgotPasswordError">{{'PASSWORD_RESET_ERROR' | translate}}</small>
          </div>
        <div class="row submit">
            <a class="cancel" ng-hide="login.forgotPasswordSubmit" ng-click="login.step = 'login'">{{'CANCEL' | translate}}</a>
            <input ng-disabled="!login.credentials.username || login.forgotPasswordSubmit" type="submit" value="{{'PASSWORD_RESET' | translate}}" />
        </div>
      </form>
    </div>

    <div class="container dark-block" ng-show="login.step === 'resetSuccess'">
      <h1>{{'PASSWORD_LINK_MAILED' | translate}}</h1>

      <p>{{'CHECK_EMAIL' | translate}} <span class="email">{{login.credentials.username}}</span> {{'CHECK_EMAIL_1' | translate}}</p>
      <p>{{'CHECK_JUNK' | translate}}</p>
    </div>
  </div>
</div>
